

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-productos.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - Productos</title>
    
</head>
<body>
    {% include "partials/header.html" %}
    <!--Este es el contenedor del formulario productos-->
    <div class="form-container-productos">
        <form method="post" action="{% url 'cliente_editar' id %}"  id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <th>{{ form.rut_cliente.label_tag }}</th>
                    <th>{{ form.nombre_cliente.label_tag }}</th>
                    <th>{{ form.correo_cliente.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.rut_cliente }}</td>
                    <td>{{ form.nombre_cliente }}</td>
                    <td>{{ form.correo_cliente }}</td>
                </tr>
                <tr>
                    <th>{{ form.usuario_crea.label_tag }}</th>
                    <th>{{ form.ciudad.label_tag }}</th>
                    <th>{{ form.telefono.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.usuario_crea }}</td>
                    <td>{{ form.ciudad }}</td>
                    <td>{{ form.telefono }}</td>
                </tr>
                <tr>
                    <th>{{ form.mercado.label_tag }}</th>
                    <th>{{ form.puerto_destino.label_tag }}</th>
                    <th>{{ form.empresa.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.mercado }}</td>
                    <td>{{ form.puerto_destino }}</td>
                    <td>{{ form.empresa }}</td>    
                </tr>
            </table>
    <button type="submit" name="guardar" class="red-button-g">Guardar</button>
    <button type="button" class="red-button-c">
        <a href="{% url 'admin_cliente' %}">Cancelar</a>
    </button>

        </form>
    </div>

</body>
</html>