# este archivo especifica los archivos y directorios que deben ser excluidos del control de versiones

.vscode
venv
__pycache__
core/static/perfect-scrollbar/
core/static_recopiled/perfect-scrollbar/
SPP_Django/.env
.env