{% load static %}
<!-- este header se ha obtenido desde el snippet obtenido
en la página https://bbbootstrap.com/snippets/bootstrap-colorful-navbar-animation-45860002 -->
<nav class="navbar navbar-expand-lg navbar-red navbar-dark ul-navbar">
  <div class="wrapper">
  </div>
  <div class="container-fluid all-show">
    <a href="https://betech.cl/"><img src='{% static "img/logobetech01.png" %}' class="logo-navbar" alt="Logo Navbar"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'carga_servidor' %}">Carga Servidor</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'inventario_rollizo' %}">Inventario</a>
        </li>

        <li>
          <a class="nav-link" href="#">Planificador</a>
          <ul class="menu-vertical">
            <li><a class="nav-link" href="{% url 'plan_bodega' %}">Bodegas</a></li>
            <li><a class="nav-link" href="{% url 'plan_lineas' %}">Lineas</a></li>
            <li><a class="nav-link" href="{% url 'plan_productos' %}">Productos</a></li>
            <li><a class="nav-link" href="{% url 'plan_rollizo' %}">Rollizo</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'administracion' %}">Administración</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"></i>Salir</a>
        </li>
        
        
      </ul>
    </div>
  </div>
</nav>