body,
html {
    height: 100vw;
    overflow: hidden;
    background: linear-gradient(to right, #f5291d, #ce0c00) no-repeat center center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(170px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-220px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(170px);
    }
}

.avatar {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 5px black solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar img {
    width: 100%;
    height: auto;
}