form {
    display: flex;
    flex-wrap: wrap;
}

form label {
    flex: 0 0 120px;
    margin-right: 10px;
}

form input,
form select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.form-container-materia-prima {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.form-container-materia-prima form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container-materia-prima label {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: right;
}

.form-container-materia-prima input,
.form-container-materia-prima select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.filter-section {
    background-color: rgb(255, 255, 255);
}

.filter-button {
    background-color: red;
    color: white;
}

<<<<<<< HEAD:core/static/styles/materia-prima.css
.filter-section {
    position: relative;
}

.filter-form {
    position: absolute;
    top: 0;
    left: 0;
    width:30%;
    background-color: #fff;
    padding: 30px;
    z-index: 100;
    border: 2px solid #000;
    border-radius: 10px;

}

.advanced-filter-container {
    display: absolute;
    align-items: center;
}

.checkbox-label {
    margin-right: 50px;
    width:100%;
}
=======
  /* Estilos personalizados para el enlace */
  a {
    text-decoration: none;
    color: inherit; 
  }
>>>>>>> 42126c2796e735da37bfd68e92c8f02ab7054f23:core/static/styles/styles-materia-prima.css
