form {
    display: flex;
    flex-wrap: wrap;
}

form label {
    flex: 0 0 120px;
    margin-right: 10px;
}

form input,
form select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.form-container-productos form {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1;
    background-color: rgba(243, 240, 240, 0.95);
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.toggle-carga-button {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.form-container-productos {
    width: 15%;
    float: right;
    position: relative;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background: rgb(243, 240, 240);
    border-radius: 6px;
}

.carga-button {
    background-color: red;
    color: white;
    border-radius: 6px;
}

.form-container-productos form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container-productos label {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: right;
}

.form-container-productos input,
.form-container-productos select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.filter-section {
    background-color: rgba(255, 255, 255, 0);
    width: 50%;
}

.filter-button {
    background-color: red;
    color: white;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 5px;
}

.filter-button:hover {
    background-color: rgb(165, 9, 9);
}

.filter-section {
    position: relative;
}

.filter-form {
    position: absolute;
    top: 30px;
    left: 0;
    width: 30%;
    background-color: #f5f2f2ec;
    padding: 30px;
    z-index: 100;
    border: 2px solid #000;
    border-radius: 10px;
}

.advanced-filter-container {
    display: absolute;
    align-items: center;
}

.checkbox-label {
    margin-right: 50px;
    width: 100%;
}


/* Estilos personalizados para el enlace */

a {
    text-decoration: none;
    color: inherit;
}

.table-container {
    margin: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
}


/* Estilos para el popup */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    width: 80%;
    text-align: left;
    font-family: Arial, sans-serif;
}

.popup h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.popup-item {
    margin-bottom: 10px;
    font-size: 18px;
}

.popup-item strong {
    font-weight: bold;
}

.product-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
}

.close-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    background-color: #fb5807db;
    color: white;
    border-radius: 5px;
}


/* Estilos para el fondo oscurecido */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 9998;
}

a {
    text-decoration: none;
    color: inherit;
}