/* {
    % load static %
} */

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-bg2.jpg') no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.a-eliminar {
    background-color: white;
    color: black;
    transition: 1s;
}

.a-eliminar:hover {
    background-color: red;
}

.all-show {
    z-index: 10;
}

.a-navbar {
    color: black;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.btn-select-file {
    background: red;
    cursor: pointer;
    display: none;
}

.carga {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.carga-masiva {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.carga-mini {
    flex-direction: column;
}

.carga-micro {
    display: flex;
    flex-direction: row;
}

.cargar-btn.verde {
    background-color: rgb(8, 199, 8);
    color: white;
    transition: 2s;
}

.container-add {
    text-align: center;
    padding: 0 10%;
    margin: 40px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
    opacity: 0.92;
}

.container-bar-chart {
    width: 500px;
    height: 500px;
    display: flex;
    text-align: center;
    justify-content: center;
    background: white;
    margin: 0 auto;
    margin-top: 100px;
}

.container-container-message {
    position: relative;
}

.container-fechas {
    background: white;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

.container-pedidos {
    background: white;
    color: black;
    text-align: center;
    margin: 10px auto;
}

.container-lista-pedidos {
    width: 75%;
    background: white;
    text-align: center;
    margin: 0 auto;
}

.container-message {
    color: white;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.encabezado-pedidos {
    font-size: 40px;
    text-align: center;
    color: black;
}

.encabezado-pedidos::selection {
    color: #fff;
    background-color: red;
}

.footer {
    color: rgb(255, 255, 255);
    text-align: center;
    bottom: 0;
    width: 100%;
}

.form-carga-individual {
    background: white;
    width: 50%;
    margin: 30px auto;
    padding: 50px;
    text-align: center;
    border: 3px solid red;
}

.form-control {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}

.input-login {
    caret-color: red;
    margin-bottom: 5px;
}

.gantt-here {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 400px;
}

.gantt_popup_text {
    margin-bottom: 0;
    padding-bottom: 0;
}

.gantt_modal_table {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.2em;
    padding: 5px;
}

.gantt_modal_table td,
.gantt_modal_table th {
    padding: 0.5em;
    border: 1px solid black;
    width: 50%
}

.gantt_modal_table th {
    background-color: #B3D9D9;
}

.gantt_modal_table td {
    background-color: #E0F7FA;
}

.gantt_popup_text span {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: none;
    text-align: left;
    width: 400px;
    margin: 0 auto;
}

.gantt_popup_text span p h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gantt_popup_text span p {
    font-size: 18px;
    margin-bottom: 10px;
}

.gantt_popup_button {
    background-color: #fb5807db;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    width: 100px;
    height: 30px;
}

.gantt_popup_button:hover {
    background-color: #fd0202;
}

.h1-carga-individual {
    color: white;
    text-align: center;
    margin-top: 3%;
}

.label-carga-masiva {
    height: 60px;
    cursor: pointer;
    border: 3px solid black;
    background: red;
    color: white;
    font-size: 20px;
    padding: 15px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.label-carga-masiva:hover {
    background: #d20000;
    color: antiquewhite;
    transition: 0.3s;
}

.label-carga-mini {
    height: 40px;
    cursor: pointer;
    border: 3px solid black;
    background: rgb(255, 145, 0);
    color: white;
    font-size: 18px;
    padding: 7px;
    margin-right: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.label-carga-mini:hover {
    background: rgb(222, 126, 0);
    color: antiquewhite;
    transition: 0.3s;
}

.label-carga-individual {
    height: 60px;
    cursor: pointer;
    border: 3px solid black;
    background: red;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.label-carga-individual:hover {
    background: #d20000;
    color: antiquewhite;
    transition: 0.3s;
}

.li-navbar {
    float: left;
}

.li-navbar-logo {
    float: left;
}

.li-navbar-salir:hover {
    background-color: red;
    transition: 2s;
}

.li-navbar:hover {
    background-color: red;
    transition: 1s;
}

.link {
    margin: 1rem 0.5rem;
    display: flex;
}

.link a {
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    position: relative;
}

.link a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: red;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.link a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}


/* estilos login */

.login-box {
    width: 20%;
    height: 60%;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 15px;
    padding: 70px 30px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    transition: 1s;
    cursor: pointer;
    background: #fff;
    color: #000;
}

.login-box a {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box p {
    margin: 10;
    padding: 0 0 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #fff;
}


/* ------ LOGO BETECH ANIMATION ------*/

#logo-navbar {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 40px;
    border-radius: 560%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 30);
    position: relative;
    z-index: 1;
    transition: background-color 0.5s ease;
}

#logo-navbar:hover {
    background-color: #878786fa;
}

#logo-navbar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo:before {
    content: "";
    display: block;
    position: absolute;
    top: 33%;
    left: -200%;
    width: 6%;
    height: 40%;
    background-image: url('../img/Betech.png');
    /* Cambia 'ruta-de-la-imagen' por la URL de la imagen */
    background-size: cover;
    background-position: center;
    transform: translateX(15%);
    transition: transform 0.3s ease-in, left 0.1s ease-out;
    z-index: -1;
}

.logo:hover::before {
    transform: translateX(68%);
    left: 0;
}


/*------------------------------------*/

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 160px;
    background-color: rgb(255, 0, 0);
    opacity: 0.9;
    z-index: 1;
    color: black;
    justify-content: center;
}

.menu-vertical li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 15px 15px 5px;
}

.navbar-nav>li>a {
    margin-right: 20px;
    color: rgb(255, 0, 0);
}

.navbar-toggler {
    padding: .20rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ffffffcc !important;
    transition: 0.2s;
}

.navbar-red:hover .wrapper {
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
}

.navbar-red {
    background-color: red;
    color: #fff;
}

.pedidoform {
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rut-input {
    display: flex;
    vertical-align: middle;
    /* tamaño del input */
}

.rut-input span {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.rut-input .rut-body {
    width: calc(100% - 20px);
    /* ancho del cuerpo del RUT */
}

.rut-input .rut-dv {
    width: 20px;
    /* ancho del dígito verificador */
}

.register-box {
    max-width: 700px;
    height: 125px;
    background: white;
    opacity: 0.9;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 25px;
}

.table {
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
    background-color: white;
    max-width: 100%;
    opacity: 0.9;
    border-radius: 25px;
}

.table thead {
    background-color: white;
}

.table thead tr th {
    background-color: red;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 2px solid black;
}

.table thead tr td {
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: black;
    opacity: 1;
    padding: 10px;
    border: 2px solid black;
}

.ul-navbar>li:hover {
    background-color: red;
}

.ul-navbar li:hover .menu-vertical {
    display: block;
}

.ul-navbar li:hover .menu-vertical {
    display: block;
}

.wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #000;
    clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
    transition: 1s all;
}


/* -----  Dashboard/Charts ----- */

h2 {
    color: #000;
    font-size: 1.4em;
    margin: 2px;
    text-align: left;
    display: block;
    align-self: flex-start;
    text-decoration: none;
}

a {
    text-decoration: none;
}

hr {
    border-color: white;
    margin: 10px 0;
}

.cols-1 {
    flex: 0 0 26%;
    margin: 10px;
    /* max-height: 100%; Eliminar esta propiedad */
}

.cols-2 {
    flex: 0 0 70%;
    margin: 10px;
    margin-right: 0;
    /* max-height: 100%; Eliminar esta propiedad */
}

@media (max-width: 768px) {}


/*Figure es el recuadro en el que ira el grafico a desplegar*/

figure {
    background-color: #ffffffe3;
    background-size: cover;
    padding: 10px 10px 30px;
    border-radius: 10px;
    width: 97%;
    height: 35.000em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Ajusta tamaño de contenedor de dashboard al cambiar a un monitor de diferente tamaño */
@media screen and (min-width: 768px) {
    figure {
        height: 80vh; /* Adjust this value to your preference */
    }
}
@media screen and (min-width: 1200px) {
    figure {
        height: 90vh; /* Adjust this value to your preference */
    }
}
figure canvas {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

canvas {
    max-width: 100%;
    width: 100%;
    height: 35.000em;
}


/*    estiloDash *****************************/

.dashboard {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Agregar esta propiedad */
}

.cont {
    margin-top: 2%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /* Agregar esta propiedad */
}

.contenedor {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.selectbox {
    width: 100%;
    /* height: 20px; Modificar esta propiedad */
    height: auto;
    margin-left: 10px;
    position: relative;
}

.select {
    background: #ffffffe3;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2 ease all;
    margin-bottom: 30px;
    padding: 10px;
    z-index: 200;
    border: 2px solid transparent;
    align-self: center;
}

.select.active,
.select:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    border: 2px solid red;
    align-items: center;
}

.select.active:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 15px solid red;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    align-self: center;
}

.select i {
    font-size: 30px;
    margin-left: 30px;
    color: red;
}

.titulo {
    margin: 10px;
    background-color: transparent;
    color: #000;
    font-weight: 500;
    font-size: 23px;
    text-decoration-line: none;
    text-decoration: none;
}

.textos {
    text-decoration: none;
}

.descripcion {
    font-size: 18px;
    color: #000;
    text-decoration-line: none;
    text-decoration-color: none;
}

.opciones {
    background: #ffffffd7;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    width: 100%;
    display: none;
    position: absolute;
}

.opciones.active {
    display: block;
    animation: fadeIn .3s forwards;
}


/* Animacion list*/

@keyframes fadeIn {
    from {
        transform: translateY(-180px)scale(.5);
    }
    to {
        transform: translateY(0)scale(1);
    }
}


/**/

.contenido-opcion {
    width: 100%;
    display: flex;
    align-items: center;
    transition: .2 ease all;
    /* padding: 20px; /*****************************/
}

.opciones .contenido-opcion {
    padding: 30px;
}

.contenido-opcion img {
    width: 60px;
    height: 60px;
    margin-right: 50px;
}

.opciones .contenido-opcion:hover {
    background: #fd0202;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
    background: #fd0202;
    text-decoration: none;
}

#imgChart {
    padding-left: 9%;
    width: fit-content;
    filter: grayscale(1);
}


#admin-menu {
    display: none;
  }
  
  #admin-trigger:hover + #admin-menu,
  #admin-menu:hover {
    display: block;
  }

.ul{
    padding-left: 1rem;
}