form {
    display: flex;
    flex-wrap: wrap;
}

form label {
    flex: 0 0 120px;
    margin-right: 10px;
}

form input,
form select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

h3 {
    color: red;
    padding-top: 15px;
}

table tr {
    border-bottom: 2px solid rgba(255, 255, 255, 0.801);
}

.btn-agregar-pedido,
.btn-materia-prima,
.btn-productos-terminados {
    background-color: red;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid white;
}

.btn-agregar-pedido:hover,
.btn-materia-prima:hover,
.btn-productos-terminados:hover {
    background-color: white;
    color: red;
    transition: 0.5s ease-in-out;
}

.buttons-top {
    padding: 10px;
    text-align: center;
}

.buttons-top:hover {
    float: center;
    position: relative;
    padding: 10px;
}

.buttons-bot {
    margin-top: 10px;
    text-align: center;
}

.carga-button-top {
    background-color: rgba(255, 0, 0, 0.705);
    color: white;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid white;
    float: right;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.carga-button-bot {
    background-color: rgba(255, 0, 0, 0.705);
    color: white;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
    text-decoration: none !important;
}

.carga-button-bot:hover {
    background-color: white;
    color: red;
    transition: 0.5s ease-in-out;
}

.date-header {
    background-color: black;
    color: Black;
    font-weight: bold;
    padding: 9px;
    font-size: 12px;
}

.fixed-width {
    width: 80px; /* Puedes ajustar este valor según tus preferencias */
}

.event-cell a.popup-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.event-cell a.popup-link:hover {
    text-decoration: underline;
}

.form-container-pedidos form {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1;
    background-color: rgba(243, 240, 240, 0.95);
    border: 1px solid black;
    border-radius: 6px;
}

.form-container-pedidos form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container-pedidos label {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: right;
}

.form-container-pedidos input,
.form-container-pedidos select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    width: 40%;
    text-align: left;
    font-family: Arial, sans-serif;
}

.popup-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/*editar el fondo de la tabla*/
.table-container {
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 0;
    margin-top: 0;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0 10px;
    overflow: auto;
}

.text-center {
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.update-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gantt {
    font-family: "Roboto";
    margin-left: 15px;
    margin-right: 15px
}

#gantt table {
    background-image: linear-gradient(to right, transparent 1px, rgba(0, 0, 0, 0.1) 1px), linear-gradient(to bottom, transparent 1px, rgba(0, 0, 0, 0.1) 1px);

}

#gantt table tr th {
    border-right: 1px solid black;
    border-collapse: collapse;
    font-size: 16px;
    background-color: rgb(123, 123, 123);
    line-height: 30px;
    text-align: center;
}

/*configurar lineas dentro de la tabla (columnas)*/
#gantt table tr td { 
    padding: 6px;
    line-height: 15px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.801);
}

/*configurar lineas dentro de la tabla (ultima columnas)*/
#gantt table tr td:last-child {
    border-right: 1.5px solid rgba(255, 255, 255, 0.801);

}



/*Editar barra en la carta gantt*/
#gantt table tr td.event-cell {
    color: white;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
    border-radius: 1px;
    border-left: none;
}

#gantt table tr td.event-cell:last-child {
    border-right: 1.5px solid rgba(255, 255, 255, 0.801);
}

#gantt table tr td.event-cell span {
    background-color: #767676;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    width: 50px;
}

.popup {
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    border-radius: 6%;
    border: 1px solid rgba(7, 7, 7, 0.801);
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 15px;
    z-index: 9999;
    color: rgb(5, 5, 5);
    text-align: center;
}

.popup-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.event-cell a.popup-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.event-cell a.popup-link:hover {
    text-decoration: underline;
}

.date-header {
    background-color: lightblue;
    color: red;
    font-weight: bold;
    padding: 9px;
    font-size: 12px;
}

.text-center {
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.horizontal-container {
    display: flex;
    float: right;    
}

.horizontal-container div {
    margin-right: 10px;
}

.form-container-productos form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(243, 240, 240, 0.95);
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.form-container-productos form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container-productos label {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: right;
}

.form-container-productos input,
.form-container-productos select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.carga-button {
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.705);
    color: white;
    padding: 10px;
    border: 1px solid white;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 9, 9, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-ejecutar {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background-color: rgba(5, 5, 5, 0.5);
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-ejecutar {
    background-color: #f7efef;
    padding: 20px;
    height: 90%;
    width: 90%;
    border: 2px solid black;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 12px;
}


/* Color del fondo del scrollbar cuando no está en hover */

 ::-webkit-scrollbar-track {
    background-color: black;
}


/* Color del thumb del scrollbar (el deslizador) cuando no está en hover */

 ::-webkit-scrollbar-thumb {
    background-color: rgb(65, 64, 64);
    border-radius: 6px;
}


/* Color del thumb del scrollbar cuando está en hover */

 ::-webkit-scrollbar-thumb:hover {
    background-color: red;
}

.red-button {
    margin: 0 auto;
    background-color: red;
    color: white;
    width: 15%;
}

.main {
    text-align: center;
}

.info {
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    /* Para que el div se ajuste al contenido */
    width: 98%;
}

.info-table {
    width: 100%;
    /* Para que la tabla ocupe todo el ancho del div */
    border-collapse: collapse;
}

.info-table th,
.info-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.info-table th {
    background-color: #f2f2f2;
}

.data {
    margin-top: 20px;
    width: 90%;
    display: inline-block;
    /* Para centrar el div */
    border: 2px solid black;
    /* Agregar borde a la tabla */
    padding: 10px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

.red-button:hover {
    background-color: white;
    color: red;
    transition: 0.5s ease-in-out;
}

.popup-overlay-pedidos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content-pedidos {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
    max-width: 30%;
    overflow: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-close-pedidos {
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}
/* Style datepicker */
#id_fecha_entrega {
    border: 0.1px solid #595959;
    box-sizing: border-box;
    height: 30px;
}


/*  */
/* Styles for the Popup Container */

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.formimport {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* Use flexbox to align elements */
    flex-direction: column;
    align-items: center;
}


/* Style contenedor MultiSelect */
.select2.select2-container {
    width: 100% !important;
  }

.select2-container--default .select2-selection--multiple {
    width: 100% !important;
    border: 0.1px solid #595959;
    box-sizing: border-box;
    height: 30px;
    border-radius:0.1px !important;
}


.form-control, #id_prioridad, #id_estado, #id_linea_produccion {
    border: 0.1px solid #595959;
    box-sizing: border-box;
    height: 30px;
    border-radius: 0px;
}


#showProductosButton{

    background-color: rgba(142, 142, 142, 0.705);
    color: white;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid white;
    float: left;
    margin-top: 0vh;
    margin-left: 0%;
    margin-right: 0%;


}


#showPedidosButton{

    background-color: rgba(142, 142, 142, 0.705);
    color: white;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid white;
    float: left;
    margin-top: 0vh;
    margin-left: 0%;
    margin-right: 0%;


}