form {
    display: flex;
    flex-wrap: wrap;
}

form label {
    flex: 0 0 120px;
    margin-right: 10px;
}

form input,
form select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.952);
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 10px;
}

.carga-button-top {
    background-color: red;
    color: white;
    border-radius: 6px;
    width: 100%;
}

.carga-button-bot {
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.carga-button-bot:hover {
    background-color: white;
    color: red;
}

.buttons-top {
    float: right;
    position: relative;
}

.buttons-bot {
    margin-top: 10px;
    text-align: center;
}

#gantt {
    font-family: "Roboto";
}

#gantt table {
    border-collapse: collapse;
    border-spacing: 0px 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.801);
    width: calc(100% - 20px);
}

table tr {
    border-bottom: 2px solid rgba(255, 255, 255, 0.801);
}

#gantt table tr th {
    border: 1.5px solid rgba(255, 255, 255, 0.801);
    border-collapse: collapse;
    padding: 9px;
    font-size: 14px;
    background-color: lightgray;
    line-height: 35px;
}

#gantt table tr td {
    padding: 5px;
    line-height: 35px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.801);
    width: 250px;
    font-size: 14px;
}

#gantt table tr td:last-child {
    border-right: 1.5px solid rgba(255, 255, 255, 0.801);
}

#gantt table tr td.event-cell {
    color: white;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    border-radius: 26px;
    border-left: none;
}

#gantt table tr td.event-cell:last-child {
    border-right: 1.5px solid rgba(255, 255, 255, 0.801);
}

#gantt table tr td.event-cell span {
    background-color: #f6a400;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
    width: 50px;
}

.popup {
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    border-radius: 6%;
    border: 1px solid rgba(7, 7, 7, 0.801);
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 15px;
    z-index: 9999;
    color: rgb(5, 5, 5);
    text-align: center;
}

.popup-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.event-cell a.popup-link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.event-cell a.popup-link:hover {
    text-decoration: underline;
}

.date-header {
    background-color: lightblue;
    color: red;
    font-weight: bold;
    padding: 9px;
    font-size: 12px;
}

.text-center {
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.horizontal-container {
    display: flex;
}

.horizontal-container div {
    display: inline-block;
    margin-right: 10px;
}

.form-container-productos form {
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1;
    background-color: rgba(243, 240, 240, 0.95);
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.form-container-productos form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container-productos label {
    flex: 0 0 120px;
    margin-right: 10px;
    text-align: right;
}

.form-container-productos input,
.form-container-productos select {
    flex: 1;
    width: 100%;
    margin-bottom: 10px;
}

.carga-button {
    background-color: red;
    color: white;
    border-radius: 6px;
}



.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 9, 9, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid black;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
