.filter-section {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

.filter-form {
    flex: 1;
  margin-right: 10px;
  width: 30%;
}

.filter-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
}

.filter-select,
.filter-input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.clear-filter-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.table-container {
    margin-top: 20px;
    margin-right:4%;
    margin-left:4%;   
    background-color: white;
    opacity: 0.9;
    border-radius: 25px;
    padding:2%;
    height: 80%;
}

.table-responsive {
    flex: 5;
    margin:1px;
    width: 70%;
    height: 80%;
    display: block;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.encabezado-pedidos {
    margin-top: 0;
}

.no-data-message {
    display: none;
    color: red;
    margin-top: 10px;
}