<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img\logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles\styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles\notificacion.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Home</title>
</head>
<body>

    {% include "partials/header.html" %}
    <div class="table-container">
        <table class="table">
            <br>
            <h1 class="encabezado-pedidos">Planificador Rollizo</h1>
            <thead class="thead-pedidos">
                <tr>
                    <th>ID Rollizo</th>
                    <th>Nombre Rollizo</th>
                    <th>Descripción Rollizo</th>
                    <th>ID Linea</th>
                    <th>Diámetro</th>
                    <th>RUT Empresa</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <td>{{row.id_rollizo}}</td>
                    <td>{{row.nombre_rollizo}}</td>
                    <td>{{row.descripcion_rollizo}}</td>
                    <td>{{row.id_linea}}</td>
                    <td>{{row.diametro}}</td>
                    <td>{{row.rut_empresa}}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        <br><br>
    </div>
</body>
</html>