<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Administración</title>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="register-box container">
            <h1>Registrar Cliente</h1>
            <form class = "form-group" action="">
                <input type="text" class="form-control-sm" placeholder="Usuario">
                <input type="email" class="form-control-sm" placeholder="Correo">
                <input type="submit">
            </form>
        <br><br>
    </div>
    <div class="table-container container">
        <div class="table-responsive">
            <table class="table w-100">
                <br>
                <h1 class="encabezado-pedidos">Listado de Clientes</h1>
                <thead class="thead-pedidos">
                    <tr>
                        <th>ID Cliente</th>
                        <th>Nombre Cliente</th>
                        <th>Correo Cliente</th>
                        <th>Cliente Activo</th>
                        <th>Cantidad Pedidos</th>
                        <th>Eliminar Cliente</th>
                    </tr>
                    {% for cliente in rows %}
                    <tr>
                        <td><a href="">{{ cliente.id }}</a></td>
                        <td>{{ cliente.nombre_cliente }}</td>
                        <td>{{ cliente.correo_cliente }}</td>
                        <td>
                            <select class="form-control-sm">
                                <option {% if cliente.estado_cliente %}selected{% endif %}>Si</option>
                                <option {% if not cliente.estado_cliente %}selected{% endif %}>No</option>
                            </select>
                        </td>      
                        <td>{{ cliente.cantidad_pedidos }}</td> 
                        <td><a class="a-eliminar" href="javascript:void(0);" onclick="del_tr(this);">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        <br><br>
    </div>
</body>
{% include "partials/footer.html" %}
</html>