<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - alerta</title>
</head>
<body>


    <div class="popup2" id="popup2">
        <div class="popup2-content">
            <h2>Aviso:</h2>
            <p>{{ alert_message }}</p>
            <button class="popup2-continue" id="popup2-continue">Cerrar</button>
        </div>
    </div>


    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const popup = document.getElementById("popup2");
        const popupContinue = document.getElementById("popup2-continue");

        // Muestra el popup cuando se carga la página
        popup.style.display = "block";

        // Cierra el popup y redirige a la página de inicio cuando se hace clic en el botón "Continuar"
        popupContinue.addEventListener("click", function () {
            redirigirAHome(); // Llama a la función de redirección
        });
    });

    // Función para redirigir a la página de inicio
    function redirigirAHome() {
        // Redirige a la página deseada, por ejemplo, "/home"
        window.location.href = "/pantalla-carga"; // Cambia esto por la URL de tu página destino
    }

    </script>
</body>
</html>
