<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles\styles.css' %}">
    {% include "partials/resources.html" %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>SPP - Bar Chart</title>
</head>
<body>
    <div class="container-bar-chart">
      <canvas id="myChart" width="400" height="400"></canvas>    
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [],
                datasets: []
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        fetch('{% url 'get-data' %}')
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                myChart.data.labels = data.labels;
                myChart.data.datasets = data.datasets;
                myChart.update();
            });
    </script>
</body>
</html>