<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0""maximum-scale=1.0", "minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 
    <title>SPP - Dashboard</title>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="cont">

        <section class="cols-1">
                <div>
                    <form action="">
                        <div class="selectbox">
                            <div class="select" id="select">
                                <div class="contenido-select">
                                    <h1 class="titulo"  style= "padding-left: 20%; width: 280px;
                                     height: 40px; padding-top: 8px;">Seleccione un gráfico</h1>
                                </div>
                                <i class="fas fa-angle-down"></i>
                            </div>
                            <div class="opciones" id="opciones">
                                <a href="#" id="opcion" onclick="mostrarGrafico('line')">
                                    <div class="contenido-opcion">
                                        <img src="{% static 'img/lineChart.png' %}" alt="">
                                        <div class="textos">
                                            <h2 class="titulo">Pedidos por mes</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" id="opcion" onclick="mostrarGrafico('bar')">
                                    <div class="contenido-opcion">
                                        <img src="{% static 'img/barChart.png' %}" alt="">
                                        <div class="textos">
                                            <h2 class="titulo">Pedidos por cliente</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" id="opcion" onclick="mostrarGrafico('pie')">
                                    <div class="contenido-opcion">
                                        <img src="{% static 'img/pieChart.png' %}" alt="">
                                        <div class="textos">
                                            <h2 class="titulo">Rendimiento por cliente</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" name="grafico" id="inputSelect" value="">    
                        
                    </form>
                </div>
            </main>
        </section>
        <section class="cols-2">
            <figure>
                <img id="imgChart" src="{% static 'img/charts.png' %}" alt="">
                <canvas id="myChart" class="chart-canvas"></canvas>
            </figure>
        </section>
    </div>
    <script> var pedido_cliente = {{ pedidos|safe }}; </script>
    <script> var pedidosMes = {{ pedidosMes|safe }};</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://kit.fontawesome.com/cab6de82a6.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/printChart.js'%}"></script> 
    <script src="{% static 'js/despliegaSelect.js'%}"></script>

</body>
{% include "partials/footer.html" %}
</html>