<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <link href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Dashboard</title>
    <script>
        $(document).ready(function() {
            var input = $('input[type="file"]');
            
            input.change(function() {
                var file = input[0].files[0];
            
                if (file && file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') {
                    $('.cargar-btn').addClass('verde');
                } else {
                    $('.cargar-btn').removeClass('verde');
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    {% include "partials/header.html" %}
<div>
    <div class="col-md-8">

    </div>
</div>
    {% block content %}
    <div class="row mt-4">
        <div class="row">
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">1</h5>
                    <canvas id="grafico"></canvas>
                    <div class="chart-container">
                        <canvas id="myChart"></canvas>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <canvas id="chart2"></canvas>
                    <script>
                        var ctx = document.getElementById('chart2').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'pie', // tipo de gráfico
                            data: {
                                labels: ['Enero', 'Febrero', 'Marzo', 'Abril'], // etiquetas en el eje X
                                datasets: [{
                                    label: 'Ventas', // nombre de la serie de datos
                                    data: [12, 19, 3, 5], // valores de la serie de datos
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">3</h5>
                    <canvas id="chart3"></canvas>
                    <script>
                        var ctx = document.getElementById('chart3').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line', // tipo de gráfico
                            data: {
                                labels: ['Enero', 'Febrero', 'Marzo', 'Abril'], // etiquetas en el eje X
                                datasets: [{
                                    label: 'Ventas', // nombre de la serie de datos
                                    data: [12, 19, 3, 5], // valores de la serie de datos
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">4</h5>
                    <canvas id="chart4"></canvas>
                    <script>
                        var ctx = document.getElementById('chart4').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar', // tipo de gráfico
                            data: {
                                labels: ['Enero', 'Febrero', 'Marzo', 'Abril'], // etiquetas en el eje X
                                datasets: [{
                                    label: 'Ventas', // nombre de la serie de datos
                                    data: [12, 19, 3, 5], // valores de la serie de datos
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                    </div>
                </div>
                </div>
                <div class="row mt-4">
                </div>
            </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascript %}
        <script src="{% static 'js/grafico.js' %}"></script>
    {% endblock %}
</body>c
{% include "partials/footer.html" %}
</html>