<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0""maximum-scale=1.0", "minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 
    <title>SPP - Dashboard</title>
</head>
<body>
    {% include "partials/header.html" %}
     <div class="cont" style="height:100vh;">
        <div style="width:100%; height:100vh;">
       
         <iframe title="BI_SPP" width="100%" height="541.25" style="height: 100% !important;" src="https://app.powerbi.com/reportEmbed?reportId=c99700f2-a000-428a-8c83-c3ee084a75d0&autoAuth=true&ctid=72fd0b5a-8a6a-4cff-89f6-bde961f7e250" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://kit.fontawesome.com/cab6de82a6.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/printChart.js'%}"></script> 
    <script src="{% static 'js/despliegaSelect.js'%}"></script>

</body>
{% include "partials/footer.html" %}
</html>