<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/cab6de82a6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 
    <title>SPP - Dashboard</title>
</head>
<body class="dashboard">
    {% include "partials/header.html" %}
    <div class="cont">

        <section class="cols-1">
            <main class="chart">
                <div class="contenedor">
                    <form action="">
                        <div class="selectbox">
                            <div class="select" id="select">
                                <div class="contenido-select">
                                    <h1 class="titulo">Tipo de gráfico</h1>
                                </div>
                                <i class="fas fa-angle-down"></i>
                            </div>
                            <div class="opciones" id="opciones">
                                <a href="#" id="opcion">
                                    <div class="contenido-opcion">
                                        <img src="{% static 'img/pieChart.png' %}" alt="">
                                        <div class="textos">
                                            <h2 class="titulo">Gráfico de Pastel</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" id="opcion">
                                    <div class="contenido-opcion">
                                        <img src="{% static 'img/radarChart.png' %}" alt="">
                                        <div class="textos">
                                            <h2 class="titulo">Gráfico de Radar</h2>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" id="opcion">
                                    <div class="contenido-opcion">
                                        <img src="{% static 'img/barChart.png' %}" alt="">
                                        <div class="textos">
                                            <h2 class="titulo">Gráfico de Barra</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" name="grafico" id="inputSelect" value="">    
                        
                    </form>
                </div>
            </main>
        </section>
        <section class="cols-2">
            <figure>
                <!--<canvas id="modelsChart"></canvas>  -->
            </figure>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    
    <script src="{% static 'js/helpers.js'%}"></script>
    <script src="{% static 'js/handlers.js'%}"></script>
    <script src="{% static 'js/printChart.js'%}"></script> 
    <script src="{% static 'js/despliegaSelect.js'%}"></script>
    <!--<link rel="stylesheet" href="{% static 'styles/estiloChart.css' %}">   -->

</body>
{% include "partials/footer.html" %}
</html>