<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-home.css' %}">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Roboto">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Home</title>

</head>
<body>
    {% include "partials/header.html" %}

    <div class="buttons-top">
        <div>
            <select name="lineas" id="toggle-lineas-button" class="carga-button-top" >
                <option value="lineas" disabled>Lineas Produccion</option>
                <option value="linea-delgada">Linea delgada</option>
                <option value="linea-gruesa">Linea gruesa</option>
            </select>
        </div>
        <div>
            <select name="funciones" id="toggle-lineas-button" class="carga-button-top" >
                <option value="funcion" >Funcion Objetivo</option>
                <option value="minimizar-costos">Minimizar costos</option>
                <option value="aumentar-rendimiento">Aumentar rendimiento</option>
            </select>
        </div>
        <div>
            <select name="funciones" id="toggle-lineas-button" class="carga-button-top" >
                <option value="periodos">Periodos</option>
                <option value="mensual">Mensual</option>
                <option value="semanal">Semanal</option>
                <option value="diario">Diario</option>
            </select>
        </div>
    </div>

    <div class="popup" id="pedido-popup">
        <!-- Los datos del pedido obtenidos a través de la solicitud AJAX se mostrarán aquí -->
    </div>

    <br>
    <div class="table-container" style="overflow: auto; height: 75%;">
      
        <h1 class="text-center"> Organizador de Pedidos </h1>
        <div id="gantt" style="width: 90%; margin-left:15px; margin-right:15px">
            <script type="text/javascript">
                class Gantt {
                    constructor(tasks) {
                        this.tasks = tasks;
                        this.dateWidth = 178;
                        this.setMinAndMaxDate();
                        document.getElementById('gantt').innerHTML = this.buildTableHeader() + this.buildTableBody();
                    }

                    setMinAndMaxDate(){
                        var maxDates = [];
                        var minDates = [];

                        for(let i = 0; i < this.tasks.length; i++){
                            minDates.push(new Date(this.tasks[i][1]));
                            maxDates.push(new Date(this.tasks[i][2]));
                        }
                        this.minDate = new Date(Math.min.apply(null,minDates));
                        this.maxDate = new Date(Math.max.apply(null,maxDates));
                    }

                    buildTableHeader(){
                        var html = '<table><thead  style="position: sticky; top: 0; background-color: white; z-index: 1;"><tr>';
                        var diffDays = this.diffInDays(this.maxDate, this.minDate) + 1;
                        const actual = new Date(this.minDate);

                        for(let i = 0; i < diffDays; i++){
                            actual.setDate(actual.getDate() + 1);
                            html += '<th>'+ this.formatDate(actual) +"</th>";
                        }
                        html += '</tr></thead><tbody>';

                        return html;
                    }

                    buildTableBody() {
                        var html = '';

                        for (let i = 0; i < this.tasks.length; i++) {
                            var task = this.tasks[i];

                            var dMin = new Date(task[1]);
                            var dMax = new Date(task[2]);

                            var days = this.diffInDays(dMax, dMin) + 1;
                            var daysBefore = this.diffInDays(this.minDate, dMin);
                            var daysAfter = this.diffInDays(dMax, this.maxDate);

                            if (this.minDate.getTime() === dMin.getTime()) daysBefore = 0;
                            if (this.maxDate.getTime() === dMax.getTime()) daysAfter = 0;

                            html += '<tr>';
                            if (daysBefore > 0) for (let j = 0; j < daysBefore; j++) html += '<td></td>';
                            html += `<td class="event-cell" colspan="${days}" style="background-color: ${task[3]};">
                                <span>${task[4]}%</span>
                                <a class="popup-link" data-pedido-id="${i}">${task[0]}</a>
                            </td>`;
                            if (daysAfter > 0) for (let j = 0; j < daysAfter; j++) html += '<td></td>';
                            html += '</tr>';
                        }

                        return html;
                    }


                    diffInDays(max, min){
                        var diffTime = Math.abs(max - min);
                        return Math.ceil(diffTime / (1000 * 60 * 60 * 24));
                    }

                    formatDate(date) {
                        const day = date.getDate();
                        const month = date.getMonth() + 1;
                        const year = date.getFullYear();
                        return `${day}/${month}/${year}`;
                    }
                }

                let activePopup = null;

                function togglePopup(link) {
                    const pedidoId = link.dataset.pedidoId; // Obtenemos el ID del pedido desde el atributo data-pedido-id
                    const popup = document.getElementById('pedido-popup');

                    // Realiza una consulta AJAX para obtener los datos del pedido desde el backend
                    fetch(`/obtener_pedido/${pedidoId}/`)
                        .then(response => response.json())
                        .then(data => {
                            // Actualiza el contenido del popup con los datos del pedido
                            popup.innerHTML = `
                                <h2>Pedido ${data.codigo}</h2>
                                <p>Cliente: ${data.cliente}</p>
                                <p>Fecha de entrega: ${data.fecha_entrega}</p>
                                <!-- Agrega aquí los demás campos del pedido que quieras mostrar -->
                            `;
                            // Muestra el popup
                            popup.style.display = 'block';
                            activePopup = popup;
                        })
                        .catch(error => console.error('Error al obtener los datos del pedido:', error));
                }
                function hideActivePopup() {
                    if (activePopup !== null) {
                        activePopup.style.display = 'none';
                        activePopup = null;
                    }
                }

                // Oculta el popup al hacer clic fuera de él
                window.addEventListener('click', function(event) {
                    const allPopups = document.querySelectorAll('.popup');
                    allPopups.forEach(function(popup) {
                        if (!popup.contains(event.target)) {
                            popup.style.display = 'none';
                        }
                    });
                    hideActivePopup();
                });

                const obj = new Gantt({{ tasks|safe }});
            </script>
            <br/>
        </div>
    </div>
    <div class="popup">
        
        <h2>{{ pedido.nombre }}</h2>
        <p>Fecha inicio: {{ pedido.fecha_inicio }}</p>
        <p>Fecha fin: {{ pedido.fecha_fin }}</p>
        
    </div>
    <div class="buttons-bot">
        <button type="button" id="toggle-lineas-button" class="carga-button-bot">PDF</button>
        <button type="button" id="toggle-funcion-button" class="carga-button-bot">Planificar</button>
        <button type="button" id="toggle-periodo-button" class="carga-button-bot">Actualizar</button>
    </div>

    <script>
        // Agrega el evento de clic para mostrar/ocultar el popup
        const popupLinks = document.querySelectorAll('.popup-link');
        popupLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.stopPropagation(); // Evita que el evento se propague al contenedor principal
                togglePopup(this);
            });
        });

        // Oculta el popup al hacer clic fuera de él
        window.addEventListener('click', function(event) {
            const allPopups = document.querySelectorAll('.popup');
            allPopups.forEach(function(popup) {
                if (!popup.contains(event.target)) {
                    popup.style.display = 'none';
                }
            });
            hideActivePopup();
        });
    </script>
</body>
</html>
