<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/decimal.js@10.3.1/decimal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</head>
<body>
    {% include "partials/header.html" %}
    <div id="welcome-popup" class="popup-overlay-pedidos">
        <div class="popup-content-pedidos">
            {% comment %} Revisar si estos comentarios son necesarios {% endcomment %}

        </div>
    </div>
    <!--Contenedor: línea de producción, Función objetivo y Período de visualización-->
    <button type="button" class="carga-button" onclick="showPopupimport()">Cargar Pedido</button> 
    <div class="buttons-top horizontal-container">
        {% comment %} Sistema de filtro por atributo {% endcomment %}
        <!--<select name="lineas" id="toggle-lineas-button" class="carga-button-top">
            <option value="lineas">Lineas Producción</option>
            <option value="Delgado">Delgado</option>
            <option value="Grueso">Grueso</option>
        </select>-->

        <select name="periodos" id="toggle-lineas-button" class="carga-button-top">
            <option value="diario">Diario</option>
            <option value="mensual">Mensual</option>
            <option value="semanal">Semanal</option>
        </select>

    </div>

    <!--Formulario para crear pedidos en la vista principal-->
    <div class="form-container-productos">

        {% comment %} {% endcomment %}
        <!-- Popup Container -->
        <div id="popupContainer" class="popup-container" style="display: none;">
            <form class="formimport" method="POST" enctype="multipart/form-data" action="{% url 'importar' %}">
                {% csrf_token %}
                <h2 class="bold-heading">Seleccionar Método de Carga</h2>
                <hr>
                <h2>Cargar Archivo Excel</h2>
                <div class="button-row">
                    <table>
                        <tr>
                            <td>
                                <a href="{% url 'descargar_excel' 'Plantilla_ejemplo.xlsx' %}">
                                    <button type="button" class="carga-button-bot">Descargar Plantilla</button>
                                </a>
                            </td>
                            <td>
                                <input type="file" name="xlsfile">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="button-row">
                    <table>
                        <tr>
                            <td>
                    <button  type="submit" class="carga-button-bot" name="subir">Subir Archivo</button>
                </td>
            </tr>
        </table>
                </div>
                <!-- Close button without submitting the form -->
                <h2>Agregar Pedido Manualmente</h2>
                <div class="button-row">
                    <table>
                        <tr>
                            <td>
                    <button type="button" id="toggle-carga-button" class="carga-button-bot" onclick="toggleCargaForm()">Abrir Formulario</button>      
                </td>
                <td>
                    <button type="button" class="carga-button" onclick="closePopupimport()">Cerrar</button>
                </td>
            </tr>
    
           
            </table>
                </div>   
            </form>
        </div>
    </div>
    <div class="form-container-productos">
       
        <form method="post" action="{% url 'pedidos' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                {{ detalle_pedido_formset.management_form }}
    
                <tr>
                    <th>{{ pedido_form.cliente.label_tag }}</th>
                    <th>{{ pedido_form.orden_pedido.label_tag }}</th>
                    <th>{{ pedido_form.fecha_produccion.label_tag }}</th>
                    <th>{{ pedido_form.fecha_entrega.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ pedido_form.cliente }}</td>
                    <td>{{ pedido_form.orden_pedido }}</td>
                    <td>{{ pedido_form.fecha_produccion }}</td>
                    <td>{{ pedido_form.fecha_entrega }}</td>
                </tr>
            
                <tr>
                    <th>{{ pedido_form.prioridad.label_tag }}</th>
                    <th>{{ pedido_form.estado.label_tag }}</th>
                    <th>{{ pedido_form.version.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ pedido_form.prioridad }}</td>
                    <td>{{ pedido_form.estado }}</td>
                
                    <td>{{ pedido_form.version }}</td>
                </tr>
                {% for detalle_form in detalle_pedido_formset %}
                
                <tr>
                    <th>{{ pedido_form.comentario.label_tag }}</td>
                    <th>{{ detalle_form.detalle_producto.label_tag }}</th>
                    <th>{{ detalle_form.producto.label_tag }}</th>
                    <th>{{ detalle_form.ancho_producto.label_tag }}</th>
                </tr>   
                 <tr>
                    <td>{{ pedido_form.comentario }}</td>
                    <td>{{ detalle_form.detalle_producto }}</td>
                    <td>{{ detalle_form.producto }}</td>
                    <td>{{ detalle_form.ancho_producto }}</td>
                   
                </tr>
              
                <tr>
                    <th>{{ detalle_form.largo_producto.label_tag }}</th>
                    <th>{{ detalle_form.alto_producto.label_tag }}</th>
                    <th>{{ detalle_form.volumen_producto.label_tag }}</th>                    
                    <th>{{ detalle_form.estado_pedido_linea.label_tag }}</th>
                  
                </tr>
                <tr>
                    <td>{{ detalle_form.largo_producto }}</td>
                    <td>{{ detalle_form.alto_producto }}</td>
                    <td>{{ detalle_form.volumen_producto }}</td>                 
                    <td>{{ detalle_form.estado_pedido_linea }}</td>
                </tr>
                 <tr>
                    <th>{{ detalle_form.cantidad_piezas.label_tag }}</th>
                    <th>{{ detalle_form.cantidad_trozos.label_tag }}</th>
                    <th>{{ detalle_form.piezas_xpaquete.label_tag }}</th>
                    <th>{{ detalle_form.piezas_xtrozo.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ detalle_form.cantidad_piezas }}</td>
                    <td>{{ detalle_form.cantidad_trozos }}</td>
                    <td>{{ detalle_form.piezas_xpaquete }}</td>
                    <td>{{ detalle_form.piezas_xtrozo }}</td>
                </tr> 
                <tr>
                    <th>{{ detalle_form.paquetes_solicitados.label_tag }}</th>
                    <th>{{ detalle_form.volumen_obtenido.label_tag }}</th>
                    <th>{{ detalle_form.paquetes_saldo.label_tag }}</th>
                    <th>{{ detalle_form.grado_urgencia.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ detalle_form.paquetes_solicitados }}</td>
                    <td>{{ detalle_form.volumen_obtenido }}</td>
                    <td>{{ detalle_form.paquetes_saldo }}</td>
                    <td>{{ detalle_form.grado_urgencia }}</td>
                </tr> 
     
                <!-- Add other DetallePedido fields here -->
                {% endfor %}
                
            </table>
            <button type="submit" name="crear" class="red-button">Crear</button>    
            <button class="red-button" onclick="closePopup()">Cerrar</button>
        </form>
    </div>
   

    <br>
    {% comment %} Mover estilo {% endcomment %}
    <div class="table-container">


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
              Vistas <span class="caret"></span>
            </button>
          
            <ul class="dropdown-menu" role="menu">
                <button id="showPedidosButton"  >Ver Pedidos</button>
                <button id="showPedidosButton">Ver Productos</button>
                <button id="showPatronesButton">Ver Patrones</button>
                <button id="showProduccionButton">Ver Produccion</button>
                <button id="showSalidaButton">Ver Salida Algoritmo</button>
            </ul>
        </div>


        <div class="title-container">
            <h4 id="titulo">Pedidos JCE</h4>
            <span id="titulofecha">{{ titulofecha }}</span>
        </div>
        <div id="gantt">
            <script>
                const tasksData = {{ tasks|safe }};
            </script>
        </div>
    </div>
 
    <div class="buttons-bot">

        <button type="button" id="toggle-ejecutar-button" class="carga-button-bot"
            onclick="/* showPopup() */hidePopup()   ">Ejecutar</button>
        <button type="button" id="toggle-plan-button" class="carga-button-bot" onclick="showPopup()">Plan actual</button>
    </div>
    <script src="{% static 'js/gantt.js' %}"></script>
</body>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            multiple: true,
            closeOnSelect: false,          
            placeholder: 'Seleccione una opción'
        });
                // Handle padding when Select2 dropdown is opened
        $('.select2').on('select2:open', function() {
            $(this).closest('td').find('.select2-dropdown').css('padding', 'px'); // Apply default padding
        });
    });
</script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const gantt = new Gantt(tasksData);

        const showPedidosButton = document.getElementById("showPedidosButton");
        const showProduccionButton = document.getElementById("showProduccionButton");
        const showProductosnButton = document.getElementById("showProductosButton");
        const showSalidaButton = document.getElementById("showSalidaButton");
        const showPatronesButton = document.getElementById("showPatronesButton");
        const titulo = document.getElementById("titulo");
        const ganttContainer = document.getElementById("gantt");

        // Inicialmente, muestra la tabla de "Produccion JCE"
        gantt.showPedidosTable();
        titulo.textContent = "Pedidos JCE";

        showPedidosButton.addEventListener("click", function () {
            gantt.showPedidosTable();
            titulo.textContent = "Pedidos JCE";
        });

        showProduccionButton.addEventListener("click", function () {
            gantt.showProduccionTable();
            titulo.textContent = "Produccion JCE";
        });

        showProductosButton.addEventListener("click", function () {
            gantt.showProductosTable();
            titulo.textContent = "Productos JCE";
        });

        showSalidaButton.addEventListener("click", function () {
            gantt.showSalidaTable();
            titulo.textContent = "Salida Algoritmo JCE";
        });
        showPatronesButton.addEventListener("click", function () {
            gantt.showPatronesTable();
            titulo.textContent = "Patrones JCE";
        });

    });


</script>


</html>

