<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/decimal.js@10.3.1/decimal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</head>
<body>
    {% include "partials/header.html" %}
    {% if alert_message %}
    <div class="popup2" id="popup2">
        <div class="popup2-content">
            <h2>Aviso</h2>
            <p>{{ alert_message }}</p>
            <button class="popup2-close-button" id="popup2-close-button">Cerrar</button>
        </div>
    </div>
{% endif %}
    <div id="welcome-popup" class="popup-overlay-pedidos">
        <div class="popup-content-pedidos">
            {% comment %} Revisar si estos comentarios son necesarios {% endcomment %}

        </div>
    </div>
    <!--Contenedor: línea de producción, Función objetivo y Período de visualización-->
    <button type="button" class="carga-button" onclick="showPopupimport()">Cargar Pedido</button> 
    <div class="buttons-top horizontal-container">
        {% comment %} Sistema de filtro por atributo {% endcomment %}
        <!--<select name="lineas" id="toggle-lineas-button" class="carga-button-top">
            <option value="lineas">Lineas Producción</option>
            <option value="Delgado">Delgado</option>
            <option value="Grueso">Grueso</option>
        </select>-->

        <select name="periodos" id="toggle-lineas-button" class="carga-button-top">
            <option value="diario">Diario</option>
            <option value="mensual">Mensual</option>
            <option value="semanal">Semanal</option>
        </select>

    </div>

    <!--Formulario para crear pedidos en la vista principal-->
    <div class="form-container-productos">

        {% comment %} {% endcomment %}
        <!-- Popup Container -->
        <div id="popupContainer" class="popup-container" style="display: none;">
            <form class="formimport" method="POST" enctype="multipart/form-data" action="{% url 'importar' %}">
                {% csrf_token %}
                <h2 class="bold-heading">Seleccionar Método de Carga</h2>
                <hr>
                <h2 class="Excel">Cargar Archivo Excel</h2>
                <div class="button-row">
                    <div class="button-container">
                        <a href="{% url 'descargar_excel' 'Plantilla_ejemplo.xlsx' %}" class="left-button">
                            <button type="button" class="carga-button-bot">Descargar Plantilla</button>
                        </a>
                    
                        <div class="right-button">
                            <div class="custom-file-input">
                                <input type="file" name="xlsfile" id="fileInput">
                                <label for="fileInput">Seleccionar archivo</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="button-row">
                        <span id="file-name-display" class="file-name">Ningún archivo seleccionado</span>
                        <button type="submit" class="subir" name="subir">Subir Archivo</button>
                    </div>
                </div>
                <!-- Close button without submitting the form -->
                <h2 class="agregar">Agregar Pedido Manualmente</h2>
                <div class="button-row">
                        <button type="button" id="toggle-carga-button" class="carga-button-bot" onclick="toggleCargaForm()">Abrir Formulario</button>
                        <button type="button" class="popup-close-pedidos" onclick="closePopupimport()">x</button>
                    </div> 
            </form>
        </div>
    </div>
    <div class="form-container-productos">
       
        <form method="post" action="{% url 'pedidos' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                {{ detalle_pedido_formset.management_form }}
    
                <tr>
                    <th>{{ pedido_form.cliente.label_tag }}</th>
                    <th>{{ pedido_form.orden_pedido.label_tag }}</th>
                    <th>{{ pedido_form.fecha_produccion.label_tag }}</th>
                    <th>{{ pedido_form.fecha_entrega.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ pedido_form.cliente }}</td>
                    <td>{{ pedido_form.orden_pedido }}</td>
                    <td>{{ pedido_form.fecha_produccion }}</td>
                    <td>{{ pedido_form.fecha_entrega }}</td>
                </tr>
            
                <tr>
                    <th>{{ pedido_form.prioridad.label_tag }}</th>
                    <th>{{ pedido_form.estado.label_tag }}</th>
                    <th>{{ pedido_form.version.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ pedido_form.prioridad }}</td>
                    <td>{{ pedido_form.estado }}</td>
                
                    <td>{{ pedido_form.version }}</td>
                </tr>
                {% for detalle_form in detalle_pedido_formset %}
                
                <tr>
                    <th>{{ pedido_form.comentario.label_tag }}</td>
                    <th>{{ detalle_form.detalle_producto.label_tag }}</th>
                    <th>{{ detalle_form.producto.label_tag }}</th>
                    <th>{{ detalle_form.ancho_producto.label_tag }}</th>
                </tr>   
                 <tr>
                    <td>{{ pedido_form.comentario }}</td>
                    <td>{{ detalle_form.detalle_producto }}</td>
                    <td>{{ detalle_form.producto }}</td>
                    <td>{{ detalle_form.ancho_producto }}</td>
                   
                </tr>
              
                <tr>
                    <th>{{ detalle_form.largo_producto.label_tag }}</th>
                    <th>{{ detalle_form.alto_producto.label_tag }}</th>
                    <th>{{ detalle_form.volumen_producto.label_tag }}</th>                    
                    <th>{{ detalle_form.estado_pedido_linea.label_tag }}</th>
                  
                </tr>
                <tr>
                    <td>{{ detalle_form.largo_producto }}</td>
                    <td>{{ detalle_form.alto_producto }}</td>
                    <td>{{ detalle_form.volumen_producto }}</td>                 
                    <td>{{ detalle_form.estado_pedido_linea }}</td>
                </tr>
                 <tr>
                    <th>{{ detalle_form.cantidad_piezas.label_tag }}</th>
                    <th>{{ detalle_form.cantidad_trozos.label_tag }}</th>
                    <th>{{ detalle_form.piezas_xpaquete.label_tag }}</th>
                    <th>{{ detalle_form.piezas_xtrozo.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ detalle_form.cantidad_piezas }}</td>
                    <td>{{ detalle_form.cantidad_trozos }}</td>
                    <td>{{ detalle_form.piezas_xpaquete }}</td>
                    <td>{{ detalle_form.piezas_xtrozo }}</td>
                </tr> 
                <tr>
                    <th>{{ detalle_form.paquetes_solicitados.label_tag }}</th>
                    <th>{{ detalle_form.volumen_obtenido.label_tag }}</th>
                    <th>{{ detalle_form.paquetes_saldo.label_tag }}</th>
                    <th>{{ detalle_form.grado_urgencia.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ detalle_form.paquetes_solicitados }}</td>
                    <td>{{ detalle_form.volumen_obtenido }}</td>
                    <td>{{ detalle_form.paquetes_saldo }}</td>
                    <td>{{ detalle_form.grado_urgencia }}</td>
                </tr> 
     
                <!-- Add other DetallePedido fields here -->
                {% endfor %}
                
            </table>
            <button type="submit" name="crear" class="red-button">Crear</button>    
            <button class="form-close-x" onclick="closePopup()">x</button>
        </form>
    </div>
   

    <br>
    {% comment %} Mover estilo {% endcomment %}
    <div class="table-container">


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
              Vistas <span class="caret"></span>
            </button>
          
            <ul class="dropdown-menu" role="menu">
                <button id="showPedidosButton"  >Ver Pedidos</button>
                <button id="showProductosButton">Ver Productos</button>
                <button id="showPatronesButton">Ver Patrones</button>
                <button id="showProduccionButton">Ver Produccion</button>
                <button id="showSalidaButton">Ver Salida Algoritmo</button>
            </ul>
            
            {% comment %} <button  id="showFolioTable"  class="tablink">Folio</button> {% endcomment %}
        </div>


        <div class="title-container">
            <h4 id="titulo">Pedidos JCE</h4>
            <span id="titulofecha">{{ titulofecha }}</span>
        </div>
        <div id="gantt">
            
            <script>
                const tasksData = {{ tasks|safe }};
            </script>
        </div>
        
    </div>

    <div class="buttons-bot">

        {% comment %} <button type="button" id="toggle-ejecutar-button" class="carga-button-bot"
            onclick="/* showPopup() */hidePopup()   ">Ejecutar</button> {% endcomment %}
            
            <button type="button" class="carga-button" id="openPopupButtontest">Algoritmo</button>

        <button type="button" id="toggle-plan-button" class="carga-button-bot" onclick="showPopup()">Plan actual</button>
    </div>

{% comment %} popup ALGORINTO {% endcomment %}
<div id="popupContainertest" style="width:30%;" class="popup">
    <!-- Add your popup content here -->
    <span class="close" id="closePopupButton">&times;</span>

    <table id="diameterTable" style="width:100%;">
        <thead>
            <tr>
                <th>Diametro</th>
            </tr>
        </thead>
        <tbody id="diameterBody">
            <!-- Diameter results will be displayed here -->
        </tbody>
    </table>

    <table id="selectedTable" style="width:100%;" > 
        <thead>
            <tr>
                <th>Selected</th>
            </tr>
        </thead>
        <tbody id="selectedBody">
            <!-- Selected results will be displayed here -->
        </tbody>
    </table>
</div>

<script src="{% static 'js/gantt.js' %}"></script>

{% comment %} script test algoritmo popup {% endcomment %}
<script>
    const openButton = document.getElementById("openPopupButtontest");
    const closeButton = document.getElementById("closePopupButton");
    const popupContainertest = document.getElementById("popupContainertest");
    const diameterTable = document.getElementById("diameterTable");
    const diameterBody = document.getElementById("diameterBody");
    const selectedTable = document.getElementById("selectedTable");
    const selectedBody = document.getElementById("selectedBody");

    // Function to open the popup
    openButton.addEventListener("click", function () {
        // Show loading message while waiting for results
        diameterBody.innerHTML = "<tr><td>Loading...</td></tr>";
        selectedBody.innerHTML = "<tr><td>Loading...</td></tr>";
        
        // Make an AJAX request to execute_code view
        fetch("/execute_code/your-archivo1/your-archivo2/")
            .then(response => response.json())
            .then(data => {
                // Clear the loading messages
                diameterBody.innerHTML = "";
                selectedBody.innerHTML = "";

                // Populate the "Diameter" table with results
                for (let i = 0; i < data.diametro.length; i++) {
                    const row = document.createElement("tr");
                    const diameterCell = document.createElement("td");
                    diameterCell.innerText = data.diametro[i];
                    row.appendChild(diameterCell);
                    diameterBody.appendChild(row);
                }

                // Populate the "Selected" table with results
                for (let i = 0; i < data.selected.length; i++) {
                    const row = document.createElement("tr");
                    const selectedCell = document.createElement("td");
                    selectedCell.innerText = data.selected[i];
                    row.appendChild(selectedCell);
                    selectedBody.appendChild(row);
                }
            })
            .catch(error => {
                console.error("An error occurred:", error);
                diameterBody.innerHTML = "<tr><td>An error occurred while fetching Diameter results.</td></tr>";
                selectedBody.innerHTML = "<tr><td>An error occurred while fetching Selected results.</td></tr>";
            });

        // Show the popup
        popupContainertest.style.display = "block";
    });

    // Function to close the popup
    closeButton.addEventListener("click", function () {
        popupContainertest.style.display = "none";
    });
</script>

</script>
{% comment %}  {% endcomment %}
<script>
    $(document).ready(function() {
        $('.select2').select2({
            multiple: true,
            closeOnSelect: false,          
            placeholder: 'Seleccione una opción'
        });
                // Handle padding when Select2 dropdown is opened
        $('.select2').on('select2:open', function() {
            $(this).closest('td').find('.select2-dropdown').css('padding', 'px'); // Apply default padding
        });
    });
</script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const gantt = new Gantt(tasksData);

        const showPedidosButton = document.getElementById("showPedidosButton");
        const showProduccionButton = document.getElementById("showProduccionButton");
        const showProductosButton = document.getElementById("showProductosButton");
        const showSalidaButton = document.getElementById("showSalidaButton");
        const showPatronesButton = document.getElementById("showPatronesButton");
        const titulo = document.getElementById("titulo");
        const ganttContainer = document.getElementById("gantt");

        // Inicialmente, muestra la tabla de "Produccion JCE"
        gantt.showPedidosTable();
        titulo.textContent = "Pedidos JCE";


        showPedidosButton.addEventListener("click", function () {
            gantt.showPedidosTable();
            titulo.textContent = "Pedidos JCE";
        });

        showProduccionButton.addEventListener("click", function () {
            gantt.showProduccionTable();
            titulo.textContent = "Produccion JCE";
        });

        showProductosButton.addEventListener("click", function () {
            gantt.showProductosTable();
            titulo.textContent = "Productos JCE";
        });


        showSalidaButton.addEventListener("click", function () {
            gantt.showSalidaTable();
            titulo.textContent = "Salida Algoritmo JCE";
        });
        showPatronesButton.addEventListener("click", function () {
            gantt.showPatronesTable();
            titulo.textContent = "Patrones JCE";
        });

    });


</script>

<script>
    $(document).ready(function() {
        // Escucha cambios en el input[type="file"]
        $('input[type="file"]').change(function() {
            var fileName = $(this).val().split('\\').pop(); // Obtén el nombre del archivo seleccionado
            $('#file-name-display').text(fileName); // Muestra el nombre del archivo en el span
        });
    });
</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
        const popup = document.getElementById("popup2");
        const popupCloseButton = document.getElementById("popup2-close-button");

        // Muestra el popup si alert_message tiene un valor
        if (popup && popupCloseButton) {
            popup.style.display = "block";
            
            
            // Cierra el popup cuando se hace clic en el botón "Cerrar"
            popupCloseButton.addEventListener("click", function () {
                popup.style.display = "none";
            });
        }


    });
</script>

{% comment %} Ejecutar ALGORITMO DE TEST {% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $("#toggle-ejecutar-button").click(function() {
        // Specify the values for archivo1 and archivo2
        var archivo1Value = "LineaDelgado.csv";  // Update with the actual value
        var archivo2Value = "LineaGruesa.csv";   // Update with the actual value

        // Construct the URL for the execute_code view
        var url = `/execute_code/${archivo1Value}/${archivo2Value}/`;

        $.ajax({
            url: url,
            type: "GET",
            success: function(response) {
                // Handle the response from the server (if needed)
                console.log(response);
            },
            error: function(error) {
                // Handle any errors (if needed)
                console.error(error);
            }
        });
    });
});
</script>
</html>
