

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-productos.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - Productos</title>
    
</head>
<body>
    <input type="file" id="fileInput">
    <button id="importButton">Importar</button>

    <script>
        document.getElementById('importButton').addEventListener('click', function () {
            var fileInput = document.getElementById('fileInput');
            var file = fileInput.files[0];
            
            if (file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var fileData = e.target.result;

                    // Aquí puedes procesar fileData (los datos del archivo Excel) en JavaScript
                    // Por ejemplo, podrías enviarlo al servidor para su procesamiento.

                    console.log('Archivo cargado con éxito!');
                };

                reader.readAsBinaryString(file);
            } else {
                console.log('Selecciona un archivo antes de importar.');
            }
        });
    </script>

</body>
</html>

   

