<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Inventario Rollizo</title>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="table-container container">
        <div class="table-responsive">
            <table class="table w-100">
                <br>
                <h1 class="encabezado-pedidos">Inventario Rollizos Clasificado</h1>
                <thead class="thead-pedidos">
                    <tr>
                        <th>Rollizo Clasificado</th>
                        <th>Clase Diámetrica</th>
                        <th>Largo</th>
                        <th>Cantidad [m^3]</th>
                    </tr>
                    {% for c in clas %}
                    <tr>
                        <td>{{c.nombre_largo}}</td>
                        <td>
                            <select class="form-control-sm">
                        {% for cd in clase_diametrica %}
                                <option>{{cd}}</option> 
                        {% endfor %}
                            </select>
                        </td>    
                        <td>{{c.largo}}</td>  
                        <td>{{c.cantidad}}</td> 
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        <br><br>
    </div>
    <div class="table-container container">
        <div class="table-responsive">
            <table class="table w-100">
                <br>
                <h1 class="encabezado-pedidos">Inventario Rollizos NO Clasificado</h1>
                <thead class="thead-pedidos">
                    <tr>
                        <th>Rollizo Clasificado</th>
                        <th>Clase Diámetrica</th>
                        <th>Número de Rollizos</th>
                    </tr>
                    {% for nc in noclas %}
                    <tr>
                        <td>{{nc.nombre_inventario}}</td>
                        <td>
                            <select class="form-control-sm">
                        {% for cd in clase_diametrica %}
                                <option>{{cd}}</option> 
                        {% endfor %}
                            </select>
                        </td>    
                        <td>{{nc.cant_m3}}</td> 
                    </tr>
                    {% endfor %}
                </thead>
            </table>
        </div>
        <br><br>
    </div>

</body>
{% include "partials/footer.html" %}
</html>