<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    {% include "partials/resources.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Inventario Productos</title>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="table-container container">
        <div class="table-responsive">
            <table class="table w-100">
                <br>
                <h1 class="encabezado-pedidos">Inventario Aserradero 1</h1>
                <thead class="thead-pedidos">
                    <tr>
                        <th>ID Producto</th>
                        <th>Nombre Producto</th>
                        <th>Cantidad</th>
                        <th>Estimación</th>
                        <th>Eliminar</th>
                    </tr>
                    <tr>
                        <td><a href="">001</a></td>
                        <td>Producto 1</td>   
                        <td>123</td>  
                        <td>234</td> 
                        <td><a class="a-eliminar" href="javascript:void(0);" onclick="del_tr(this);">Eliminar</a></td>
                    </tr>
                    <tr>
                        <td><a href="">002</a></td>
                        <td>Producto 2</td>
                        <td>123</td>  
                        <td>22</td> 
                        <td><a class="a-eliminar" href="javascript:void(0);" onclick="del_tr(this);">Eliminar</a></td>
                    </tr>
                    <tr>
                        <td><a href="">003</a></td>
                        <td>Producto 3</td>  
                        <td>123</td>  
                        <td>345</td>
                        <td><a class="a-eliminar" href="javascript:void(0);" onclick="del_tr(this);">Eliminar</a></td>
                    </tr>
                </thead>
            </table>
        </div>
        <br><br>
    </div>
</body>
</html>