<form method="post" id="form-container">
    {% csrf_token %}
    <div id='pedido-div'>
        <div id='pedido-form'>
            {{ form.numero_pedido.label_tag }}
            {{ form.numero_pedido }}
            <br><br>
            {{ form.fecha_recepcion.label_tag }}
            {{ form.fecha_recepcion }}
            <br><br>
            {{ form.fecha_entrega.label_tag }}
            {{ form.fecha_entrega }}
            <br><br>
            {{ form.destino_pedido.label_tag }}
            {{ form.destino_pedido }}
            <br><br>
            {{ form.prioridad.label_tag }}
            {{ form.prioridad }}
            <!--<br><br>
            {{ form.nombre_bodega.label_tag }}
            {{ form.nombre_bodega }}-->
            <br><br>
            <table>
            <tbody id="product-table">
                {% for form in form.productos %}
                <tr id="product-form">
                    <td>{{ form.producto.label_tag }}</td>
                    <td>{{ form.producto }}</td>
                    <td>{{ form.cantidad.label_tag }}</td>
                    <td>{{ form.cantidad }}</td>
                    <td><button type="button" id="remove-button-producto">Borrar</button></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <br><br>
            <button type="button" id="add-button-producto">Agregar Producto</button>
            <br><br>
            <button type="button" id="remove-button-pedido">Remover Pedido</button>
        </div>
    </div>
    <br><br>
    <button type="button" id="add-button-pedido">Agregar Pedido</button>
    <br><br>
    <input type="submit" value="Ingresar Pedido">
    
</form>
{% include "partials/footer.html" %}
<script>
    // Get the add button and table
    const productAddButton = document.getElementById("add-button-producto");
    const productTable = document.getElementById("product-table");
    const pedidoAddButton = document.getElementById("add-button-pedido");
    const pedidoDiv = document.getElementById("pedido-div");
    let productFormCount = 0;

    // Get the first product form
    let productForm = document.getElementById("product-form");
    // Get the first pedido form
    let pedidoForm = document.getElementById("pedido-form");
    // Clone the first product form and add it to the table
    productAddButton.addEventListener("click", function() {
        let newProductForm = productForm.cloneNode(true);
        productTable.appendChild(newProductForm);
    });

    // Remove the product form
    productTable.addEventListener("click", function(event) {
        if (event.target.id === "remove-button-producto") {
            if (productTable.childElementCount <= 1) {
                return;
            }
            event.target.parentNode.parentNode.remove();
        }
    });

    // Clone the first pedido form and add it to the div
    pedidoAddButton.addEventListener("click", function() {
        let newPedidoForm = pedidoForm.cloneNode(true);
        pedidoDiv.appendChild(newPedidoForm);
    });
    
    // Remove the pedido form
    pedidoDiv.addEventListener("click", function(event) {
        console.log(productAddButton)
        console.log(pedidoAddButton)
        if (event.target.id === "remove-button-pedido") {
            if (pedidoDiv.childElementCount <= 1) {
                return;
            }
            event.target.parentNode.remove();
        }
    });

</script>