<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-popup.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-pedidos.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Pedidos</title>
</head>

<body>
    {% include "partials/header.html" %}
    <div class="filter-section">
        <button type="button" id="toggle-filter-button" class="filter-button">Filtrar</button>
        <form id="filter-form" class="filter-form" style="display: none;">
            <div class="filter-field">
                <label for="filter-buzon">Cliente:</label>
                <input type="text" id="filter-buzon" class="filter-input">
            </div>
            <div class="advanced-filter-container">
                <label for="advanced-filter-checkbox" class="checkbox-label">Búsqueda avanzada</label>
                <input type="checkbox" id="advanced-filter-checkbox">
            </div>
            
            <div id="advanced-filter" style="display: none;">
                
                <div class="filter-field">
                    <label for="filter-madera">Fecha:</label>
                    <input type="text" id="filter-madera" class="filter-input">
                </div>
            </div>
            <div class="filter-button-container">
                <button type="button" id="filter-button" class="filter-button">Buscar</button>
                <button type="button" id="cancel-filter-button" class="filter-button">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="form-container-pedido">
        <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
        <form method="POST" action="{% url 'pedidos' %}" style="display: none;" id="carga-form">
            {% csrf_token %}

            <!-- Campos del formulario ActualizarPedidoForm -->
            <label for="id_cliente">Cliente</label>
            {{ form.cliente }}

            <label for="id_fecha_entrega">Fecha de entrega</label>
            {{ form.fecha_entrega }}

            <label for="id_codigo">Código</label>
            {{ form.codigo }}

            <label for="id_nombre">Nombre</label>
            {{ form.nombre }}

            <label for="id_grosor">Grosor</label>
            {{ form.grosor }}

            <label for="id_ancho">Ancho</label>
            {{ form.ancho }}

            <label for="id_largo">Largo</label>
            {{ form.largo }}

            <label for="id_productos_a_producir">Productos a producir</label>
            {{ form.productos_a_producir }}

            <label for="id_cantidad">Cantidad</label>
            {{ form.cantidad }}

            <label for="id_numero_pedido">Número de Pedido</label>
            {{ form.numero_pedido }}

            <label for="id_estado_pedido">Estado del Pedido</label>
            {{ form.estado_pedido }}

            <label for="id_prioridad">Prioridad</label>
            {{ form.prioridad }}

            <label for="id_destino_pedido">Destino del Pedido</label>
            {{ form.destino_pedido }}

            <!-- Botón para crear -->
            <button type="submit" name="crear">Crear</button>
        </form>
    </div>
    <div class="table-container">
        <h1 class="encabezado-pedidos">Pedidos</h1>
        <div class="table-responsive">
            <table class="table w-100">
                <caption></caption>
                <thead class="thead-pedidos">
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha de entrega</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.cliente }}</td>
                        <td>{{ pedido.fecha_entrega }}</td>
                        <td>
                            <button class="details-button popup-button" onclick="openPopup('{{ pedido.cliente }}', '{{ pedido.fecha_entrega }}')">Mostrar detalles</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="popup-overlay" id="popupOverlay"></div>
    <div class="popup" id="popup">
        <h2>Detalles del pedido</h2>
        <div class="popup-item">
            <strong>Cliente:</strong> <span id="popupCliente"></span>
        </div>
        <div class="popup-item">
            <strong>Fecha de entrega:</strong> <span id="popupFechaEntrega"></span>
        </div>
        <button class="close-button" onclick="closePopup()">Cerrar</button>
    </div>

<script src="{% static 'js/filtro-pedidos.js'%}"></script>

<script>
    var toggleFilterButton = document.getElementById('toggle-filter-button');
    var filterForm = document.getElementById('filter-form');
    var cancelFilterButton = document.getElementById('cancel-filter-button');
    var closeFilterButton = document.getElementById('cancel-filter-button');
    var isFilterVisible = false; // Variable de estado para el filtro

    toggleFilterButton.addEventListener('click', function() {
        if (isFilterVisible) {
            filterForm.style.display = 'none';
            toggleFilterButton.innerText = 'Filtrar';
            isFilterVisible = false;
        } else {
            filterForm.style.display = 'block';
            toggleFilterButton.innerText = 'Ocultar filtro';
            isFilterVisible = true;
        }
    });

    cancelFilterButton.addEventListener('click', function() {
        filterForm.style.display = 'none';
        filterForm.reset();
        toggleFilterButton.innerText = 'Filtrar'; 
        isFilterVisible = false;
    });

    closeFilterButton.addEventListener('click', function() {
        filterForm.style.display = 'none';
        filterForm.reset();
        toggleFilterButton.innerText = 'Filtrar'; 
        isFilterVisible = false;
    });   
</script>
    <script>
        $(document).ready(function() {
            const filterForm = document.querySelector('.filter-form');
            const filterNombreInput = document.querySelector('input[name="filter-nombre"]');
            const clearFilterButton = document.querySelector('.clear-filter-button');

            let dataTable = $('.table').DataTable();

            filterForm.addEventListener('submit', function(event) {
                event.preventDefault();
                applyFilters();
            });

            clearFilterButton.addEventListener('click', function() {
                filterNombreInput.value = '';
                applyFilters();
            });

            function applyFilters() {
                const nombreFilter = filterNombreInput.value.toLowerCase();
                dataTable.column(0).search(nombreFilter, true, false).draw();
            }
        });

        </script>
        <script>
            const toggleButton = document.getElementById("toggle-carga-button");
            const cargaForm = document.querySelector(".form-container-pedido form");

            let isFormVisible = false;

            toggleButton.addEventListener("click", function() {
                if (!isFormVisible) {
                    const buttonRect = toggleButton.getBoundingClientRect();
                    const buttonBottom = buttonRect.bottom;
                    cargaForm.style.display = "block";
                    isFormVisible = true;
                } else {
                    cargaForm.style.display = "none";
                    isFormVisible = false;
                }
            });
        </script>
</body>

</html>
