<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-popup.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/vista-pedidos.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Pedidos</title>
</head>

<body>
    {% include "partials/header.html" %}
    <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
    <!--Sección de filtrado-->
    <div class="filter-section">
        <button class="filter-button">Filtrar</button>

        <form class="filter-form" style="display: none;">
            <div class="filters-container">
                <label for="filter-by">Filtrar por:</label>
                <select id="filter-by" name="filter-by" class="filter-select">
                    <option value="nombre">Nombre del producto</option>
                    <option value="codigo">Código del producto</option>
                </select>
                <div>
                    <input type="text" name="filter-value" class="filter-input" placeholder="Valor del filtro">
                </div>
                <select name="filter-option" class="filter-select">
                    <option value="partial">Parcial</option>
                    <option value="exact">Exacto</option>
                </select>
                <br>
                <label for="advanced-search">Búsqueda avanzada:</label>
                <input type="checkbox" id="advanced-search" name="advanced-search">
                <div id="advanced-search-options" style="display: none;">
                    <label for="filter-length">Largo:</label>
                    <input type="number" id="filter-length" name="filter-length" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-length-max" name="filter-length-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                    <label for="filter-width">Ancho:</label>
                    <input type="number" id="filter-width" name="filter-width" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-width-max" name="filter-width-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                    <label for="filter-thickness">Grosor:</label>
                    <input type="number" id="filter-thickness" name="filter-thickness" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-thickness-max" name="filter-thickness-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                </div>
                <button type="submit" class="filter-button">Buscar</button>
                <button type="button" class="clear-filter-button">Cancelar</button>
            </div>
        </form>
    </div>
    <!--Sección formulario desplegable mediante botón "Carga Manual"-->
    <div class="form-container-productos" style="">

        <form method="post" action="{% url 'pedidos' %}" style="display: none; width:100vh;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                <th>Detalle Pedido</th>
                {{ detalle_pedido_formset.management_form }}
                <tr>
                    <th class="detalle-pedido-t">OP</th>
                    <th class="detalle-pedido-t">Cliente</th>
                    <th class="detalle-pedido-t">Mercado</th>
                    <th class="detalle-pedido-t">ETA</th>
                    <th class="detalle-pedido-t">Destino</th>
                    <th class="detalle-pedido-t" style="width:20vh;">Programa</th>
                    <th class="detalle-pedido-t">Item</th>
                    <th class="detalle-pedido-t">Nombre producto</th>
                    <th class="detalle-pedido-t">Est</th>
                    <th class="detalle-pedido-t">term</th>
                    <th class="detalle-pedido-t">Calidad</th>
                    <th class="detalle-pedido-t">Cpo</th>
                </tr>
                {% for form in detalle_pedido_formset %}
                <tr>
                    <td>{{ pedido_form.orden_interna }}</td>
                    <td>{{ pedido_form.cliente }}</td>
                    <td>{{ form.mercado}}</td>
                    <td>{{ pedido_form.fecha_entrega }}</td>
                    <td>{{ form.puerto_destino }}</td>
                    <td>{{ form.programa }}</td>
                    <td>{{ form.item }}</td>
                    <td>{{ form.producto }}</td>
                    <td>{{ form.est }}</td>
                    <td>{{ form.term }}</td>
                    <td>{{ form.calidad }}</td>
                    <td>{{ form.cpo }}</td>
                    {{ form.errors }}
                </tr>
            </table>
            <table class="form-table" style="margin-top:2vh;">

                <tr>
                    <th class="detalle-pedido-t a">Esp. Producc <br> (cm)</th>
                    <th class="detalle-pedido-t a">Anc. Producc <br> (cm)</th>
                    <th class="detalle-pedido-t a">Lar. Producc <br> (cm)</th>
                    <th class="detalle-pedido-t">Pzas</th>
                    <th class="detalle-pedido-t">M3</th>
                    <th class="detalle-pedido-t ">Mbf</th>
                    <th class="detalle-pedido-t ">Baño</th>
                    <th class="detalle-pedido-t">Marca</th>
                    <th class="detalle-pedido-t">Fecha Creacion</th>
                    <th class="detalle-pedido-t">Comentario</th>
                    <th class="detalle-pedido-t">Version</th>
                    <th class="detalle-pedido-t">Estado</th>
                </tr>

                <tr>
                    <td>{{ form.alto_producto }}</td>
                    <td>{{ form.ancho_producto }}</td>
                    <td>{{ form.largo_producto }}</td>
                    <td>{{ form.piezas }}</td>
                    <td>{{ form.volumen_producto }}</td>
                    <td>{{ form.mbf }}</td>
                    <td>{{ form.banio}}</td>
                    <td>{{ form.marca}}</td>
                    <td>{{ pedido_form.fecha_produccion }}</td>
                    <td>{{ pedido_form.comentario }}</td>
                    <td>{{ pedido_form.version }}</td>
                    <td>{{ pedido_form.estado }}</td>

                </tr>

            </table>
            <hr>
            <table class="form-table">
                <th>Detalle Factura</th>
                <tr>
                    <th class="detalle-pedido-t">FSC</th>
                    <th class="detalle-pedido-t a">Esp.Fact <br> (cm)</th>
                    <th class="detalle-pedido-t a">Anc.Fact <br> (cm)</th>
                    <th class="detalle-pedido-t a">Lar.Fact <br> (cm)</th>
                </tr>
                <tr>
                    <td>{{ form.FSC }}</td>
                    <td>{{ form.esp_fact }}</td>
                    <td>{{ form.anc_fact }}</td>
                    <td>{{ form.lar_fact }}</td>
                </tr>
            </table>
            <hr>
            <table>
                <th>Detalle Paquete</th>
                <tr>
                    <th class="detalle-pedido-t">Tipo Empaque</th>
                    <th class="detalle-pedido-t">Alto Paquete <br> (cm)</th>
                    <th class="detalle-pedido-t">Ancho Paquete <br> (cm)</th>
                    <th class="detalle-pedido-t">Int.paquete</th>
                    <th class="detalle-pedido-t">Pqte</th>
                </tr>
                <tr>
                    <td>{{ form.tipo_empaque }}</td>
                    <td>{{ form.alto_paquete }}</td>
                    <td>{{ form.anc_paquete }}</td>
                    <td>{{ form.int_paquete }}</td>
                    <td>{{ form.pqte }}</td>
                </tr>
            </table>

          {% endfor %}
          
          <div class="button-container">
            <button type="submit" name="crear" class="red-button-g">Crear</button>
            <button type="button" id="cancelar" class="red-button-c">Cerrar</button>
            </div>
            </form>
        </div>

    <!--Tabla de pedidos-->
    <div class="table-container">
        <h1 class="encabezado-pedidos">Pedidos</h1>
        <div class="table-responsive">
            <table class="table w-100">
                <caption></caption>
                <thead class="thead-pedidos">
                    <tr>
                        <th>Código</th>
                        <th>Cliente</th>
                        <th>Fecha de entrega</th>
                        <th>Estado del Pedido</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.orden_interna }}</td>
                        <td>{{ pedido.cliente }}</td>
                        <td>{{ pedido.fecha_entrega }}</td>
                        <td>{{ pedido.estado }}</td>
                        <td>
                            <button class="btn block" onclick="openPopup( 
                                    '{{ pedido.fecha_produccion }}',
                                    '{% for producto in pedido.producto.all %}{{ producto.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}',
                                    '{{ pedido.comentario }}', 
                                    '{{ pedido.version }}',
                                    '{{ pedido.prioridad }}')">
                                    <i class="fa-regular fa-clip

                                )">
                                    <i class="fa-regular fa-clipboard fa-xl"></i></button>
                            <a href="eliminarpedido/{{pedido.id}}" class="fas fa-trash-alt fa-xl"></a>
                            <a href="editarpedido/{{pedido.id}}" class="fa-sharp fa-solid fa-pen-to-square fa-xl"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-content" id="popup">
            <h2>Detalles del producto</h2>
            <table>
                <tr>
                    <th class="detalle-pedido-t">Fecha Creación</th>
                    <th class="detalle-pedido-t">Producto</th>
                    <th class="detalle-pedido-t">Comentario</th>
                    <th class="detalle-pedido-t">Version</th>
                    <th class="detalle-pedido-t">Prioridad</th>

                </tr>

                
            <tr>
                <td><span id="popupfechap"></span></td>
                <td><span id="popupProducto"></span></td>
                <td><span id="popupComentario"></span></td>
                <td><span style="float:right;" id="popupVersion"></span></td>
                <td ><span id="popupPrioridad"></span></td>  
            </tr>
     
        </table>
 
            <button class="close-button" style="float:right;" onclick="closePopup()">Cerrar</button>
        </div>

    </div>

        <script>
            var toggleFilterButton = document.querySelector('.filter-section .filter-button');
            var filterForm = document.querySelector('.filter-section .filter-form');
            var isFilterVisible = false; // Variable de estado para el filtro

            toggleFilterButton.addEventListener('click', function () {
                if (isFilterVisible) {
                    filterForm.style.display = 'none';
                    toggleFilterButton.innerText = 'Filtrar';
                    isFilterVisible = false;
                } else {
                    filterForm.style.display = 'block';
                    toggleFilterButton.innerText = 'Ocultar filtro';
                    isFilterVisible = true;
                }
            });
        </script>
        <script>
            const toggleButton = document.getElementById("toggle-carga-button");
            const cargaForm = document.querySelector(".form-container-productos form");

            let isFormVisible = false;

            toggleButton.addEventListener("click", function () {
                if (!isFormVisible) {
                    const buttonRect = toggleButton.getBoundingClientRect();
                    const buttonBottom = buttonRect.bottom;
                    cargaForm.style.display = "block";
                    isFormVisible = true;
                } else {
                    cargaForm.style.display = "none";
                    isFormVisible = false;
                }
            });
        </script>
        <script>
            $(document).ready(function () {
                $('.select2').select2({
                    multiple: true,
                    closeOnSelect: false,
                    placeholder: 'Seleccione una opción'
                });
                // Handle padding when Select2 dropdown is opened
                $('.select2').on('select2:open', function () {
                    $(this).closest('td').find('.select2-dropdown').css('padding', 'px'); // Apply default padding
                });
            });  
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const botonCancelar = document.getElementById('cancelar');
                const formulario = document.getElementById('carga-form');

                botonCancelar.addEventListener('click', function () {
                    formulario.style.display = 'none';
                });
            });
        </script>


</body>

</html>