<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-pedidos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-popup.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Pedidos</title>
    
</head>

<body>
    {% include "partials/header.html" %}

        <!--Sección formulario desplegable mediante botón "Carga Manual"-->
        <div class="form-container-productos">

            <form method="post" action="{% url 'pedido_editar' id %}" id="carga-form">
                {% csrf_token %}

                
                        <table class="form-table">
                            <!-- Add Pedido fields -->
                            {{ detalle_pedido_formset.management_form }}
                            <tr>
                                <th>{{ pedido_form.cliente.label_tag }}</th>
                                <th>{{ pedido_form.orden_pedido.label_tag }}</th>
                                <th>{{ pedido_form.fecha_produccion.label_tag }}</th>
                                <th>{{ pedido_form.fecha_entrega.label_tag }}</th>
                            </tr>
                            <tr>
                                <td>{{ pedido_form.cliente }}</td>
                                <td>{{ pedido_form.orden_pedido }}</td>
                                <td>{{ pedido_form.fecha_produccion }}</td>              
                                <td>{{ pedido_form.fecha_entrega }}</td>
                           
                            </tr>
                        
                            <tr>
                                <th>{{ pedido_form.prioridad.label_tag }}</th>
                                <th>{{ pedido_form.estado.label_tag }}</th>
                                <th>{{ pedido_form.version.label_tag }}</th>
                            </tr>
                            <tr>
                                <td>{{ pedido_form.prioridad }}</td>
                                <td>{{ pedido_form.estado }}</td>
                                <td>{{ pedido_form.version }}</td>
                            </tr>
                            {% for detalle_form in detalle_pedido_formset %}
                            
                            <tr>
                                <th>{{ pedido_form.comentario.label_tag }}</td>
                                <th>{{ detalle_form.detalle_producto.label_tag }}</th>
                                <th>{{ detalle_form.producto.label_tag }}</th>
                                <th>{{ detalle_form.ancho_producto.label_tag }}</th>
                            </tr>   
                             <tr>
                                <td>{{ pedido_form.comentario }}</td>
                                <td>{{ detalle_form.detalle_producto }}</td>
                                <td>{{ detalle_form.producto }}</td>
                                <td>{{ detalle_form.ancho_producto }}</td>
                               
                            </tr>
                          
                            <tr>
                                <th>{{ detalle_form.largo_producto.label_tag }}</th>
                                <th>{{ detalle_form.alto_producto.label_tag }}</th>
                                <th>{{ detalle_form.volumen_producto.label_tag }}</th>                    
                                <th>{{ detalle_form.estado_pedido_linea.label_tag }}</th>
                              
                            </tr>
                            <tr>
                                <td>{{ detalle_form.largo_producto }}</td>
                                <td>{{ detalle_form.alto_producto }}</td>
                                <td>{{ detalle_form.volumen_producto }}</td>                 
                                <td>{{ detalle_form.estado_pedido_linea }}</td>
                            </tr>
                             <tr>
                                <th>{{ detalle_form.cantidad_piezas.label_tag }}</th>
                                <th>{{ detalle_form.cantidad_trozos.label_tag }}</th>
                                <th>{{ detalle_form.piezas_xpaquete.label_tag }}</th>
                                <th>{{ detalle_form.piezas_xtrozo.label_tag }}</th>
                            </tr>
                            <tr>
                                <td>{{ detalle_form.cantidad_piezas }}</td>
                                <td>{{ detalle_form.cantidad_trozos }}</td>
                                <td>{{ detalle_form.piezas_xpaquete }}</td>
                                <td>{{ detalle_form.piezas_xtrozo }}</td>
                            </tr> 
                            <tr>
                                <th>{{ detalle_form.paquetes_solicitados.label_tag }}</th>
                                <th>{{ detalle_form.volumen_obtenido.label_tag }}</th>
                                <th>{{ detalle_form.paquetes_saldo.label_tag }}</th>
                                <th>{{ detalle_form.grado_urgencia.label_tag }}</th>
                            </tr>
                            <tr>
                                <td>{{ detalle_form.paquetes_solicitados }}</td>
                                <td>{{ detalle_form.volumen_obtenido }}</td>
                                <td>{{ detalle_form.paquetes_saldo }}</td>
                                <td>{{ detalle_form.grado_urgencia }}</td>
                            </tr> 
                 
                            <!-- Add other DetallePedido fields here -->
                            {% endfor %}
                            <!-- Add a button to submit the form -->
          

                </table>
                <button type="submit" name="Editar" class="red-button">Editar</button>
            </form>

        </div>
        
</body>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            multiple: true,
            closeOnSelect: false,          
            placeholder: 'Seleccione una opción'
        });
                // Handle padding when Select2 dropdown is opened
        $('.select2').on('select2:open', function() {
            $(this).closest('td').find('.select2-dropdown').css('padding', 'px'); // Apply default padding
        });
    });
    
</script>
</html>