<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-pedidos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-popup.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Pedidos</title>
    
</head>

<body>
    {% include "partials/header.html" %}

        <!--Sección formulario desplegable mediante botón "Carga Manual"-->
        <div class="form-container-productos">

            <form method="post" action="{% url 'pedido_editar' id %}" id="carga-form">
                        {% csrf_token %}
                        <table class="form-table" >
                            <th>Detalle Pedido</th>
                            {{ detalle_pedido_formset.management_form }}
                            <tr>
                                <th class="detalle-pedido-t">OP</th>
                                <th class="detalle-pedido-t">Cliente</th>
                               <th class="detalle-pedido-t">Mercado</th>
                               <th class="detalle-pedido-t">ETA</th>
                               <th class="detalle-pedido-t">Destino</th>
                               <th class="detalle-pedido-t" style="width:20vh;" >Programa</th>
                                <th class="detalle-pedido-t">Item</th>
                                <th class="detalle-pedido-t">Nombre Producto</th>
                               <th class="detalle-pedido-t">Est</th>
                               <th class="detalle-pedido-t">term</th>
                               <th class="detalle-pedido-t">Calidad</th>
                               <th class="detalle-pedido-t">Cpo</th>
                            </tr>
                            {% for detalle in detalle_pedido_formset %}
                            <input type="hidden" name="{{ detalle.prefix }}-id" value="{{ detalle.instance.id }}">
                            <input type="hidden" name="{{ detalle.prefix }}-factura" value="{{ factura.id }}">
                            <input type="hidden" name="{{ detalle.prefix }}-empaque" value="{{ paquete.id }}">
                            <!-- Otros campos relacionados -->
                            <tr>
                                <td>{{ pedido_form.orden_interna }}</td>
                                <td>{{ pedido_form.cliente }}</td>
                                <td>{{ detalle.mercado}}</td>              
                                <td>{{ pedido_form.fecha_entrega }}</td>
                                <td>{{ detalle.puerto_destino }}</td>
                                <td>{{ detalle.programa }}</td>
                                <td>{{ detalle.item }}</td>              
                                <td>{{ detalle.producto }}</td>
                                <td>{{ detalle.est }}</td>
                                <td>{{ detalle.term }}</td>
                                <td>{{ detalle.calidad }}</td>
                                <td>{{ detalle.cpo }}</td>
                                {{ form.errors }}
                            </tr>
                            
                        </table>
                            <table class="form-table" style="margin-top:2vh;">
            
                            <tr>
                               <th class="detalle-pedido-t a">Esp. Producc <br> (cm)</th>
                               <th class="detalle-pedido-t a">Anc. Producc <br> (cm)</th>
                               <th class="detalle-pedido-t a">Lar. Producc <br> (cm)</th>
                               <th class="detalle-pedido-t">Pzas</th>
                               <th class="detalle-pedido-t">M3</th>
                               <th class="detalle-pedido-t ">Mbf</th>
                                <th class="detalle-pedido-t ">Baño</th>
                               <th class="detalle-pedido-t">Marca</th>
                               <th class="detalle-pedido-t">Fecha Creación</th>
                               <th class="detalle-pedido-t">Comentario</th>
                               <th class="detalle-pedido-t">Versión</th>
                               <th class="detalle-pedido-t">Estado</th>
                            </tr>
                   
                            <tr>              
                                <td>{{ detalle.alto_producto }}</td>
                                <td>{{ detalle.ancho_producto }}</td>
                                <td>{{ detalle.largo_producto }}</td>
                                <td>{{ detalle.piezas }}</td>
                                <td>{{ detalle.volumen_producto }}</td>
                                <td>{{ detalle.mbf }}</td>
                                <td>{{ detalle.banio}}</td>
                                <td>{{ detalle.marca}}</td>
                                <td>{{ pedido_form.fecha_produccion }}</td>
                                <td>{{ pedido_form.comentario }}</td>
                                <td>{{ pedido_form.version }}</td>
                                <td>{{ pedido_form.estado }}</td>
                           
                            </tr>
                        
                        </table>
                        <hr>
                         <table class="form-table">
                           <th>Detalle Factura</th>
                        <tr>
                            <th class="detalle-pedido-t" >FSC</th>
                            <th class="detalle-pedido-t a">Esp.Fact <br> (cm)</th>
                            <th class="detalle-pedido-t a">Anc.Fact <br> (cm)</th>
                            <th class="detalle-pedido-t a">Lar.Fact <br> (cm)</th>
                        </tr>       
                        <tr>
                            <td>{{ detalle.FSC }}</td>
                            <td>{{ detalle.esp_fact }}</td>
                            <td>{{ detalle.anc_fact }}</td>
                            <td>{{ detalle.lar_fact }}</td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <th>Detalle Paquete</th>
                        <tr>
                            <th class="detalle-pedido-t">Tipo Empaque</th>
                            <th class="detalle-pedido-t">Alto Paquete <br> (cm)</th>
                            <th class="detalle-pedido-t">Ancho Paquete <br> (cm)</th>
                            <th class="detalle-pedido-t">Int.paquete</th>
                            <th class="detalle-pedido-t">Pqte</th>
                        </tr>
                        <tr>
                            <td>{{ detalle.tipo_empaque }}</td>
                            <td>{{ detalle.alto_paquete }}</td>
                            <td>{{ detalle.anc_paquete }}</td>
                            <td>{{ detalle.int_paquete }}</td>
                            <td>{{ detalle.pqte }}</td>
                        </tr>
                    </table>
                  {% endfor %}
                        <div class="button-container">
                            <button type="submit" name="Editar" class="red-button-g">Editar</button>
                            <button type="button" class="red-button-c"><a href="{% url 'pedidos' %}">Cancelar</a></button>
                        </div>
                    </form>
        
                </div>
        
</body>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            multiple: true,
            closeOnSelect: false,          
            placeholder: 'Seleccione una opción'
        });
                // Handle padding when Select2 dropdown is opened
        $('.select2').on('select2:open', function() {
            $(this).closest('td').find('.select2-dropdown').css('padding', 'px'); // Apply default padding
        });
    });
    
</script>
</html>