<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Carga Individual</title>

    {% load static %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static "js/agregaProducto.js" %}"></script>
</head>
<body>
{% include "partials/header.html" %}
{% block content %}
  <div class="pedidoform">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <h2>Detalles del Pedido</h2>
      <div class="detallepedido-formset">
        {{ formset.management_form }}
        {% for form in formset %}
          <div class="detallepedido-form">
            {{ form.as_p }}
          </div>
        {% endfor %}
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>
{% endblock %}
</body>

{% block scripts %}
  {% include "dynamic_formsets/formset_js.html" %}
{% endblock %}