<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img\logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles\styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Lista de Pedidos</title>
</head>   
<body>
    {% include "partials/header.html" %}
    <script src="{% static 'js\agrega_pedido.js' %}"></script>
</html>
