<!doctype html>
<html lang="en">

<head>
  <title>Registro</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  {% include "partials/resources.html" %}
  <script src="{% static "js/listaEmpresas.js" %}"></script>
  <script src="{% static "js/bloqueaTeclas.js" %}"></script>

</head>

<body>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <ul id="empresas-list">
        {% for empresa in empresas %}
          <li>{{ empresa.nombre }}</li>
        {% endfor %}
      </ul>
      <button type="submit">Submit</button>
  </form>
</body>
{% include "partials/footer.html" %}
</html>
