<!--este archivo permite desplegar un navbar y enlazarla a distintas vistas-->

{% load static %}
<nav class="navbar navbar-expand-lg navbar-red navbar-dark ul-navbar">
  <div class="wrapper">
  </div>
  <div class="container-fluid all-show" style="padding-left:25px">
    <div class="logo" style="margin-right:7%">
      <a href="{% url 'home' %}"><img src='{% static "img/logoBT.png" %}' id="logo-navbar" alt="Logo Navbar"></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pedidos' %}">Pedidos</a>
        </li>
        <li>
          <a class="nav-link" href="#">Planificador</a>
          <ul class="menu-vertical">
            <li><a class="nav-link" href="{% url 'plan_productos' %}">Productos</a></li>
            <li><a class="nav-link" href="{% url 'plan_productos_terminados' %}">Productos Terminados</a></li>
            <li><a class="nav-link" href="{% url 'plan_patrones_corte' %}">Patrones de Corte</a></li>
            <li><a class="nav-link" href="{% url 'plan_materia_prima' %}">Materia Prima</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
      </ul>
    </div>
    <div class="user-welcome">
        ¡Bienvenido planificador@aserradero.cl!
    </div>
  </div>
</nav>
