<!--este archivo permite desplegar un navbar y enlazarla a distintas vistas-->

{% load static %}
<nav class="navbar navbar-expand-lg navbar-red navbar-dark ul-navbar">
  <div class="wrapper">
  </div>
  <div class="container-fluid all-show" style="padding-left:25px">
    <div class="logo" style="margin-right:7%">
      <a href="{% url 'home' %}"><img src='{% static "img/logoBT.png" %}' id="logo-navbar" alt="Logo Navbar"></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        {% if 'BETECH' not in request.user.roles %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'home' %}"> Producción</a>
          <ul role="menu" class="menu-vertical">
            <li><a href="#" class="nav-link" onclick="showPopupimport()">Cargar Pedido</a></li>
            <li><a href="{% url 'home' %}" class="nav-link" id="showPedidosButton">Ver Pedidos</a></li>
            <li><a class="nav-link" href="{% url 'home' %}#productos" id="showProductosButton">Planificar Producción</a></li>
            <li><a class="nav-link" href="{% url 'home' %}#plan" id="showPlanButton">Plan vigente</a></li>
            <li><a class="nav-link" href="{% url 'home' %}#planpedido" id="showPlanPedidosButton">Plan Pedidos</a></li>

          </ul>
        </li>
        {% endif %}
        {% if 'PLANIFICADOR' not in request.user.roles %}
        <li>
          <a class="nav-link" href="#">Mantenedores</a>
          <ul class="menu-vertical">
            {% if 'BETECH' not in request.user.roles %}
            <li><a class="nav-link" href="{% url 'pedidos' %}">Pedidos</a></li>
            <li><a class="nav-link" href="{% url 'plan_productos' %}">Productos</a></li>
            <li><a class="nav-link" href="{% url 'plan_patrones_corte' %}">Patrones de Corte</a></li>
            <li><a class="nav-link" href="{% url 'plan_rollizo' %}">Rollizo</a></li>
            <li><a class="nav-link" href="{% url 'plan_linea' %}">Línea</a></li>
            <li><a class="nav-link" href="{% url 'plan_stock' %}">Stock</a></li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#" id="admin-trigger">Administración</a>
              <ul class="menu-vertical submenu" id="admin-menu">
                {% if 'BETECH' not in request.user.roles %}
                <li><a class="nav-link" href="{% url 'admin_cliente' %}">Cliente</a></li>
                {% endif %}
                {% if 'ADMINISTRADOR' not in request.user.roles %}
                <li><a class="nav-link" href="{% url 'admin_empresa' %}">Empresa</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </li>
        {% endif %}
        {% if 'BETECH' not in request.user.roles %}
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
          <ul class="menu-vertical">
            <li><a class="nav-link" href="#">TBD</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
      </ul>
    </div>
    <div class="user-welcome">
      {{ request.user.roles }}
      {{ request.user.email }}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const gantt = new Gantt(tasksData);

      const titulo = document.getElementById("titulo");
    
      // Función para mostrar la tabla según el fragmento de URL
      function mostrarTablaSegunFragmento() {
        const fragmento = window.location.hash;
        switch (fragmento) {
          case "#pedidos":
            gantt.showPedidosTable();
            titulo.textContent = "Pedidos JCE";
            break;
          case "#productos":
            gantt.showProductosTable();
            titulo.textContent = "Productos JCE";
            break;
          case "#plan":
            gantt.showPlanTable();
            // Obtén la fecha de producción del elemento oculto
            titulo.textContent = "PLAN DE PRODUCCIÓN ACTUAL JCE - 19/10/2023";
            break;
            case "#planpedido":
            gantt.showPlanPedidoTable();
            // Obtén la fecha de producción del elemento oculto
            titulo.textContent = "PLAN DE PEDIDO ACTUAL JCE - 19/10/2023";
            break;
          default:
            // Fragmento de URL no reconocido, muestra una tabla predeterminada
            gantt.showPedidosTable();
            titulo.textContent = "Pedidos JCE";
            break;
        }
      }
    
      // Llama a la función al cargar la página y cuando cambia el fragmento de URL
      mostrarTablaSegunFragmento();
      window.addEventListener("hashchange", mostrarTablaSegunFragmento);
    });
    

  </script>

</nav>