<!--este archivo permite desplegar un navbar y enlazarla a distintas vistas-->

{% load static %}
<nav class="navbar navbar-expand-lg navbar-red navbar-dark ul-navbar">
  <div class="wrapper">
  </div>
  <div class="container-fluid all-show" style="padding-left:25px">
    <div class="logo" style="margin-right:7%">
      <a href="{% url 'home' %}"><img src='{% static "img/logoBT.png" %}' id="logo-navbar" alt="Logo Navbar"></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        {% if 'BETECH' not in request.user.roles %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li>
            <a class="nav-link"  href="{% url 'home' %}" > Producción</a>
            <ul role="menu" class="menu-vertical">
              <li><a href="#" class="nav-link" onclick="showPopupimport()">Cargar Pedido</a></li>
              <li><a href="#" class="nav-link" id="showPedidosButton">Ver Pedidos</a></li>
              <li><a href="#" class="nav-link" id="showProductosButton">Planificar Producción</a></li>
            </ul>
        </li>
        {% endif %} 
        <li>
          <a class="nav-link" href="#">Mantenedores</a>
          <ul class="menu-vertical">
            {% if 'BETECH' not in request.user.roles %}
            <li><a class="nav-link" href="{% url 'plan_productos' %}">Productos</a></li>
            <li><a class="nav-link" href="{% url 'plan_productos_terminados' %}">Productos Terminados</a></li>
            <li><a class="nav-link" href="{% url 'plan_patrones_corte' %}">Patrones de Corte</a></li>
            <li><a class="nav-link" href="{% url 'plan_rollizo' %}">Rollizo</a></li>
            <li><a class="nav-link" href="{% url 'plan_linea' %}">Linea</a></li>
            {% endif %}  
            <li class="nav-item">
              <a class="nav-link" href="#" id="admin-trigger">Administración</a>
              <ul class="menu-vertical submenu" id="admin-menu">
                {% if 'BETECH' not in request.user.roles %}
                <li><a class="nav-link" href="{% url 'admin_cliente' %}">Cliente</a></li>
                {% endif %} 
                <li><a class="nav-link" href="{% url 'admin_empresa' %}">Empresa</a></li>
              </ul>
            </li>
          </ul>
        </li>   
        {% if 'BETECH' not in request.user.roles %}
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
          <ul class="menu-vertical">
            <li><a class="nav-link" href="#">TBD</a></li>
          </ul>
        </li>
        {% endif %}  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
      </ul>
    </div>
    <div class="user-welcome">
      {{ request.user.roles }}
      {{ request.user.email }}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const gantt = new Gantt(tasksData);
      const showPedidosButton = document.getElementById("showPedidosButton");
      const showProductosButton = document.getElementById("showProductosButton");
      const titulo = document.getElementById("titulo");
  
      // Verifica si los elementos existen antes de adjuntar manejadores de eventos
      if (showPedidosButton && showProductosButton && titulo) {
        // Inicialmente, muestra la tabla de "Pedidos JCE"
        gantt.showPedidosTable();
        titulo.textContent = "Pedidos JCE";
  
        showPedidosButton.onclick = function () {
          gantt.showPedidosTable();
          titulo.textContent = "Pedidos JCE";
        };
  
        showProductosButton.onclick = function () {
          gantt.showProductosTable();
          titulo.textContent = "Productos JCE";
        };
      }
    });
  </script>
  
</nav>
