<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/filtro-materia_prima.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Materia Prima</title>
</head>

<body>
    {% include "partials/header.html" %}
    <!-- Contenedor del filtro-->
    <div class="filter-section">
        <button class="filter-button">Filtrar</button>
        <form class="filter-form" style="display: none;">
            <div class="filters-container">
                <label for="filter-by">Filtrar por:</label>
                <select id="filter-by" name="filter-by" class="filter-select">
                    <option value="nombre">Nombre del producto</option>
                    <option value="codigo">Código del producto</option>
                </select>
                <div>
                    <input type="text" name="filter-value" class="filter-input" placeholder="Valor del filtro">
                </div>
                <select name="filter-option" class="filter-select">
                    <option value="partial">Parcial</option>
                    <option value="exact">Exacto</option>
                </select>
                <br>
                <label for="advanced-search">Búsqueda avanzada:</label>
                <input type="checkbox" id="advanced-search" name="advanced-search">
                <div id="advanced-search-options" style="display: none;">
                    <label for="filter-length">Largo:</label>
                    <input type="number" id="filter-length" name="filter-length" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-length-max" name="filter-length-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                    <label for="filter-width">Ancho:</label>
                    <input type="number" id="filter-width" name="filter-width" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-width-max" name="filter-width-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                    <label for="filter-thickness">Grosor:</label>
                    <input type="number" id="filter-thickness" name="filter-thickness" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-thickness-max" name="filter-thickness-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                </div>
                <button type="submit" class="filter-button">Buscar</button>
                <button type="button" class="clear-filter-button">Cancelar</button>
            </div>
        </form>
    </div>

    <!--Carga Manual de Materia Prima-->

    <div class="form-container-productos">
        <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
        <form method="post" action="{% url 'plan_materia_prima' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">

                <tr>
                    <td>{{ form.numero_buzon.label_tag }}</td>
                    <td>{{ form.tipo_madera.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.numero_buzon }}</td>
                    <td>{{ form.tipo_madera }}</td>
                </tr>

                <tr>
                    <td>{{ form.clase_diametrica.label_tag }}</td>
                    <td>{{ form.largo.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.clase_diametrica }}</td>
                    <td>{{ form.largo }}</td>
                </tr>
                <tr>
                    <td>{{ form.cantidad.label_tag }}</td>
                    <td>{{ form.conicidad.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.cantidad }}</td>
                    <td>{{ form.conicidad }}</td>
                </tr>
                <tr>
                    <td>{{ form.linea_produccion.label_tag }}</td>
                    <td>{{ form.costo_almacenamiento.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.linea_produccion }}</td>
                    <td>{{ form.costo_almacenamiento }}</td>
                </tr>
                <tr>
                    <td>{{ form.inventario_inicial.label_tag }}</td>
                    <td>{{ form.volumen_procesado.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.inventario_inicial }}</td>
                    <td>{{ form.volumen_procesado }}</td>
                </tr>
                <tr>
                    <td>{{ form.inventario_final.label_tag }}</td>
                </tr>
                <tr>
                    <td>{{ form.inventario_final }}</td>
                </tr>
            </table>

            </table>
            <button type="submit" name="crear" class="red-button">Crear</button>
        </form>
    </div>

    <!--Tabla con la materia prima-->

    <div class="table-container">
        <h1 class="encabezado-pedidos">Materia Prima</h1>
        <div class="table-responsive"></div>
        <table class="table w-100" id="materia-prima-table">
            <thead class="thead-pedidos">
                <tr>
                    <th>Número de buzón</th>
                    <th>Tipo madera</th>
                    <th>Clase diamétrica</th>
                    <th>Largo [mm]</th>
                    <th>Cantidad [m³]</th>
                    <th>Linea Produccion</th>
                    <th>Mostrar detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for materia_prima in materias_primas %}
                <tr>
                    <td>{{ materia_prima.numero_buzon }}</td>
                    <td>{{ materia_prima.tipo_madera }}</td>
                    <td>{{ materia_prima.clase_diametrica }}</td>
                    <td>{{ materia_prima.largo }}</td>
                    <td>{{ materia_prima.cantidad }}</td>
                    <td>{{ materia_prima.linea_produccion }}</td>
                    <td>
                        <button class="btn block"
                            onclick="openPopup('{{ materia_prima.numero_buzon }}', '{{ materia_prima.tipo_madera }}', '{{ materia_prima.clase_diametrica }}', '{{ materia_prima.largo }}', '{{ materia_prima.cantidad }}', '{{ materia_prima.linea_produccion }}', '{{materia_prima.conicidad}}','{{ materia_prima.costo_almacenamiento }}','{{ materia_prima.inventario_inicial }}','{{ materia_prima.volumen_procesado }}','{{ materia_prima.inventario_final }}')"><i
                                class="fa-regular fa-clipboard fa-xl"></i></button>
                        <a href="eliminarmateria/{{materia_prima.id}}" class="fas fa-trash-alt fa-xl"></a>
                        <a href="editarmateria/{{materia_prima.id}}"  class="fa-sharp fa-solid fa-pen-to-square fa-xl"></a></a>
                     
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <!--Ventana emergente con los detalles del producto -->
    <div class="popup-overlay" id="popupOverlay"></div>
    <div class="popup" id="popup">
        <h2>Detalles del producto</h2>
        <div class="popup-item">
            <strong>Código:</strong> <span id="popupCodigo"></span>
        </div>
        <div class="popup-item">
            <strong>Nombre:</strong> <span id="popupNombre"></span>
        </div>
        <div class="popup-item">
            <strong>Alto:</strong> <span id="popupAlto"></span>
        </div>
        <div class="popup-item">
            <strong>Ancho:</strong> <span id="popupAncho"></span>
        </div>
        <div class="popup-item">
            <strong>Largo:</strong> <span id="popupLargo"></span>
        </div>
        <div class="popup-item">
            <strong>Linea:</strong> <span id="popupLinea"></span>
        </div>
        <div class="popup-item">
            <strong>Conicidad:</strong> <span id="popupConicidad"></span>
        </div>
        <div class="popup-item">
            <strong>Almacenamiento:</strong> <span id="popupAlmacenamiento"></span>
        </div>
        <div class="popup-item">
            <strong>Inventario inicial:</strong> <span id="popupInventario_inicial"></span>
        </div>
        <div class="popup-item">
            <strong>Volumen_procesado:</strong> <span id="popupVolumen_procesado"></span>
        </div>
        <div class="popup-item">
            <strong>Inventario final:</strong> <span id="popupInventario_final"></span>
        </div>
        <button class="close-button" onclick="closePopup()">Cerrar</button>
    </div>


    <script src="{% static 'js/vista-materia-prima.js' %}"></script>

</body>

</html>