<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-patrones-corte.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-patrones-corte.js' %}"></script>
    <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <title>SPP - Patrones de Corte</title>
</head>
<body>
    {% include "partials/header.html" %}
    
    <div class="filter-section">
        <form class="filter-form show-filter">
            <button type="button" class="filter-button">Mostrar filtro</button>
            <div class="filter-form-fields">
                <div class="filter-field">
                    <label for="filter-codigo">Código del patrón:</label>
                    <input type="text" name="filter-codigo" class="filter-input" placeholder="Ingrese el código">
                </div>
                <label for="advanced-search">Búsqueda avanzada:</label>
                <input type="checkbox" id="advanced-search" name="advanced-search">
                <div id="advanced-search-options" style="display: none;">
                    <div class="filter-field">
                        <label for="filter-nombre">Nombre del patrón:</label>
                        <input type="text" name="filter-nombre" class="filter-input" placeholder="Ingrese el nombre">
                    </div>
                    <div class="filter-field">
                        <label for="filter-producto">Producto asociado:</label>
                        <input type="text" name="filter-producto" class="filter-input" placeholder="Ingrese el producto">
                    </div>
                    <div class="filter-field">
                        <label for="filter-clase">Clase diamétrica rollizo:</label>
                        <select name="filter-clase" class="filter-select">
                            <option value="">Todas</option>
                            <option value="1">Clase 1</option>
                            <option value="2">Clase 2</option>
                            <option value="3">Clase 3</option>
                            <option value="4">Clase 4</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="filter-button">Buscar</button>
                <button type="button" class="clear-filter-button">Cancelar</button>
            </div>
        </form>
    </div>

    <div class="form-container-patron-corte">
        <form method="post" action="{% url 'plan_patrones_corte' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="crear">Crear</button>
        </form>
    </div>
    <div class="table-container">
        <div class="table-responsive">
            <table id="patrones-table" class="table w-100">
                
                <h1 class="encabezado-pedidos">Patrones de corte</h1>
                <br/>
                <thead class="thead-pedidos">
                    <tr>
                        <th>Código del patrón</th>
                        <th>Nombre del patrón</th>
                        <th>Producto asociado</th>
                        <th>Clase diamétrica rollizo</th>
                        <th>Mostrar detalles</th>
                        <th>Eliminar</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for patron in patrones_corte %}
                        <tr>
                            <td>{{ patron.codigo_patron }}</td>
                            <td>{{ patron.nombre_patron }}</td>
                            <td>{{ patron.producto_asociado }}</td>
                            <td>{{ patron.clase_diametrica_rollizo }}</td>
                            <td>
                                <button class="product-button" onclick="openPopup('{{ patron.codigo_patron }}', '{{ patron.nombre_patron }}', '{{ patron.producto_asociado }}', '{{ patron.clase_diametrica_rollizo }}')">Mostrar detalles</button>
                            </td>
                      
                            <td><a href="eliminarpatron/{{patron.id}}" class="btn btn-block">Eliminar</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="no-data-message">No hay datos para los filtros ingresados.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="no-data-message">No se encontraron datos.</p>
        </div>
        
    </div>
    <div class="popup-overlay" id="popupOverlay"></div>
        <div id="popup" class="popup">
            <div class="popup-content">
                <h2>Detalles del patrón</h2>
                <div class="popup-item">
                    <strong>Código del patrón:</strong> <span >01</span>
                </div>
                <div class="popup-item">
                    <strong>Nombre del patrón:</strong> <span >corte1</span>
                </div>
                <div class="popup-item">
                    <strong>producto asociado:</strong> <span>producto1</span>
                </div>
                <div class="popup-item">
                    <strong>clase diametrica:</strong> <span>1</span>
                </div>
            </div>
            <button class="close-button" onclick="closePopup()">Cerrar</button>
        </div>
    </div>
    </div>
    
</body>
</html>