<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-productos.css' %}">
    <link rel="stylesheet" href="{% static 'styles/popup.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-productos.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - Productos</title>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="filter-section">
        <button class="filter-button">Filtrar</button>
        <form class="filter-form" style="display: none;">
            <div class="filters-container" >
                <label for="filter-by">Filtrar por:</label>
                <select id="filter-by" name="filter-by" class="filter-select">
                    <option value="nombre">Nombre del producto</option>
                    <option value="codigo">Código del producto</option>
                </select>
                <div>
                <input type="text" name="filter-value" class="filter-input" placeholder="Valor del filtro">
                </div>
                <select name="filter-option" class="filter-select">
                    <option value="partial">Parcial</option>
                    <option value="exact">Exacto</option>
                </select>
                <br>
                <label for="advanced-search">Búsqueda avanzada:</label>
                <input type="checkbox" id="advanced-search" name="advanced-search">
                <div id="advanced-search-options" style="display: none;">
                    <label for="filter-length">Largo:</label>
                    <input type="number" id="filter-length" name="filter-length" class="filter-input" placeholder="Valor mínimo">
                    <input type="number" id="filter-length-max" name="filter-length-max" class="filter-input" placeholder="Valor máximo">
                    <br>
                    <label for="filter-width">Ancho:</label>
                    <input type="number" id="filter-width" name="filter-width" class="filter-input" placeholder="Valor mínimo">
                    <input type="number" id="filter-width-max" name="filter-width-max" class="filter-input" placeholder="Valor máximo">
                    <br>
                    <label for="filter-thickness">Grosor:</label>
                    <input type="number" id="filter-thickness" name="filter-thickness" class="filter-input" placeholder="Valor mínimo">
                    <input type="number" id="filter-thickness-max" name="filter-thickness-max" class="filter-input" placeholder="Valor máximo">
                    <br>
                </div>
                <button type="submit" class="filter-button">Buscar</button>
                <button type="button" class="clear-filter-button">Cancelar</button>
            </div>
        </form>
    </div>
    
    <div class="form-container-productos">
        <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
       

        <form method="post" action="{% url 'plan_productos' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
        <tr>
            <td>{{ form.codigo.label_tag }}</td>
            <td>{{ form.nombre.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.codigo }}</td>
            <td>{{ form.nombre }}</td>
        </tr>
        <tr>
            <td>{{ form.descripcion.label_tag }}</td>
            <td>{{ form.largo.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.descripcion }}</td>
            <td>{{ form.largo }}</td>
        </tr>
        <tr>
            <td>{{ form.ancho.label_tag }}</td>
            <td>{{ form.alto.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.ancho }}</td>
            <td>{{ form.alto }}</td>
        </tr>
        <tr>
            <td>{{ form.demanda.label_tag }}</td>
            <td>{{ form.inventario_inicial.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.demanda }}</td>
            <td>{{ form.inventario_inicial }}</td>
        </tr>
        <tr>
            <td>{{ form.valor_inventario.label_tag }}</td>
            <td>{{ form.costo_almacenamiento.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.valor_inventario }}</td>
            <td>{{ form.costo_almacenamiento }}</td>
        </tr>
        <tr>
            <td>{{ form.volumen_obtenido.label_tag }}</td>
            <td>{{ form.inventario_final.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.volumen_obtenido }}</td>
            <td>{{ form.inventario_final }}</td>
        </tr>
       
    </table>
    <button type="submit" name="crear" class="red-button">Crear</button>
        </form>

    </div>

    <div class="table-container">
        <div class="table-responsive">
            <h1 class="encabezado-pedidos">Productos</h1>
            
            <table class="table w-100">
                <thead class="thead-pedidos">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Alto</th>
                        <th>Ancho</th>
                        <th>Largo</th>
                        <th>Detalles</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.codigo }}</td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.alto }}</td>
                            <td>{{ producto.ancho }}</td>
                            <td>{{ producto.largo }}</td>
                            <td>
                                <button class="btn block" onclick="openPopup('{{ producto.codigo }}', '{{ producto.nombre }}', '{{ producto.alto }}', '{{ producto.ancho }}', '{{ producto.largo }}')"><i class="fa-regular fa-clipboard fa-bounce fa-xl"></i></button>
                            <a href="eliminarproducto/{{producto.id}}" class="fas fa-trash-alt fa-bounce fa-xl"></a></td>
                        </tr>
                    {% empty %}
                    </tr>
                        <td colspan="5" class="no-data-message">No hay datos para los filtros ingresados.</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="no-data-message">No hay datos para los filtros ingresados.</p>
        </div>
        <br><br>
    </div>

    <div class="popup-overlay" id="popupOverlay"></div>
    <div class="popup" id="popup">
        <h2>Detalles del producto</h2>
        <div class="popup-item">
            <strong>Código:</strong> <span id="popupCodigo"></span>
        </div>
        <div class="popup-item">
            <strong>Nombre:</strong> <span id="popupNombre"></span>
        </div>
        <div class="popup-item">
            <strong>Alto:</strong> <span id="popupGrosor"></span>
        </div>
        <div class="popup-item">
            <strong>Ancho:</strong> <span id="popupAncho"></span>
        </div>
        <div class="popup-item">
            <strong>Largo:</strong> <span id="popupLargo"></span>
        </div>
        <button class="close-button" onclick="closePopup()">Cerrar</button>
    </div>
    
    <script>
        var toggleFilterButton = document.querySelector('.filter-section .filter-button');
        var filterForm = document.querySelector('.filter-section .filter-form');
        var isFilterVisible = false; // Variable de estado para el filtro

        toggleFilterButton.addEventListener('click', function() {
            if (isFilterVisible) {
                filterForm.style.display = 'none';
                toggleFilterButton.innerText = 'Filtrar';
                isFilterVisible = false;
            } else {
                filterForm.style.display = 'block';
                toggleFilterButton.innerText = 'Ocultar filtro';
                isFilterVisible = true;
            }
        });
    </script>
    <script>
        const toggleButton = document.getElementById("toggle-carga-button");
        const cargaForm = document.querySelector(".form-container-productos form");

        let isFormVisible = false;

        toggleButton.addEventListener("click", function() {
            if (!isFormVisible) {
                const buttonRect = toggleButton.getBoundingClientRect();
                const buttonBottom = buttonRect.bottom;
                cargaForm.style.display = "block";
                isFormVisible = true;
            } else {
                cargaForm.style.display = "none";
                isFormVisible = false;
            }
        });
    </script>
</body>
</html>