

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-rollizo.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - Productos</title>
    
</head>
<body>
    {% include "partials/header.html" %}
    <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
    <!--Esta es la seccion de filtro-->
    <div class="filter-section">
        <button class="filter-button">Filtrar</button>
        <form class="filter-form" style="display: none;">
            <div class="filters-container" >
                <label for="filter-by">Filtrar por:</label>
                <select id="filter-by" name="filter-by" class="filter-select">
                    <option value="nombre">Nombre del producto</option>
                    <option value="codigo">Código del producto</option>
                </select>
                <div>
                <input type="text" name="filter-value" class="filter-input" placeholder="Valor del filtro">
                </div>
                <select name="filter-option" class="filter-select">
                    <option value="partial">Parcial</option>
                    <option value="exact">Exacto</option>
                </select>
                <br>
                <label for="advanced-search">Búsqueda avanzada:</label>
                <input type="checkbox" id="advanced-search" name="advanced-search">
                <div id="advanced-search-options" style="display: none;">
                    <label for="filter-length">Largo:</label>
                    <input type="number" id="filter-length" name="filter-length" class="filter-input" placeholder="Valor mínimo">
                    <input type="number" id="filter-length-max" name="filter-length-max" class="filter-input" placeholder="Valor máximo">
                    <br>
                    <label for="filter-width">Ancho:</label>
                    <input type="number" id="filter-width" name="filter-width" class="filter-input" placeholder="Valor mínimo">
                    <input type="number" id="filter-width-max" name="filter-width-max" class="filter-input" placeholder="Valor máximo">
                    <br>
                    <label for="filter-thickness">Grosor:</label>
                    <input type="number" id="filter-thickness" name="filter-thickness" class="filter-input" placeholder="Valor mínimo">
                    <input type="number" id="filter-thickness-max" name="filter-thickness-max" class="filter-input" placeholder="Valor máximo">
                    <br>
                </div>
                <button type="submit" class="filter-button">Buscar</button>
                <button type="button" class="clear-filter-button">Cancelar</button>
            </div>
        </form>
    </div>

    <!--Este es el contenedor del formulario productos-->
    <div class="form-container-productos">
        <form method="post" action="{% url 'plan_rollizo' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                <tr>
                    <th>{{ form.nombre_rollizo.label_tag }}</th>
                    <th>{{ form.descripcion_rollizo.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.nombre_rollizo }}</td>
                    <td>{{ form.descripcion_rollizo }}</td>
                </tr>
                <tr>
                    <th>{{ form.linea.label_tag }}</th>
                    <th>{{ form.diametro.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.linea }}</td>
                    <td>{{ form.diametro }}</td>
                </tr>
                <tr>
                    <th>{{ form.largo.label_tag }}</th>
                    <th>{{ form.usuario_crea.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.largo }}</td>
                    <td>{{ form.usuario_crea }}</td>
                </tr>
                <tr>
                    <th>{{ form.clase_diametrica.label_tag }}</th>
                </tr>
                <tr>
                    <td>{{ form.clase_diametrica }}</td>
                </tr>
            </table>
            
            <div class="button-container">
                <button type="submit" name="crear" class="red-button-g">Crear</button>
                <button type="button" id="cancelar" class="red-button-c">Cerrar</button>
            </div>
        </form>
        
    </div>
    <!--Esta es la contenedor de la tabla productos-->
    <div class="table-container">
        <div class="table-responsive">            
            <h1 class="encabezado-pedidos">Rollizos</h1>
            
            <table class="table w-100">
                <thead class="thead-pedidos">
                    <tr>
                        <th>Nombre</th>
                        <th>Linea</th>
                        <th>Diametro</th>
                        <th>Largo</th>
                        <th>Fecha Creacion</th>
                        <th>Detalles</th>                         
                    </tr>
                </thead>
                <tbody>
                    {% for rollizo in rollizos %}
                        {% if not rollizo.eliminado %}
                        <tr>
                            <td>{{ rollizo.nombre_rollizo }}</td>
                            <td>{{ rollizo.linea }}</td>
                            <td>{{ rollizo.diametro }}</td>
                            <td>{{ rollizo.largo }}</td>
                            <td>{{ rollizo.fecha_crea }}</td>                        
                            <td>
                                <button class="btn block" onclick="openPopup('{{ rollizo.nombre_rollizo }}', '{{ rollizo.largo }}','{{ rollizo.descripcion_rollizo }}','{{ rollizo.diametro }}'
                                ,'{{ rollizo.usuario_crea }}','{{ rollizo.fecha_crea }}','{{ rollizo.clase_diametrica }}', '{{ rollizo.linea }}'
                                )"><i class="fa-regular fa-clipboard fa-xl"></i></button>
                            <a href="eliminarrollizo/{{rollizo.id}}" class="fas fa-trash-alt fa-xl"></a>
                            <a href="editarrollizo/{{rollizo.id}}" class="fa-sharp fa-solid fa-pen-to-square fa-xl" ></a>  
                        </td>
                        </tr>
                        {% endif %}
                    {% empty %}
                    </tr>
                        <td colspan="5" class="no-data-message">No hay datos para los filtros ingresados.</td>
                    <tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="no-data-message">No hay datos para los filtros ingresados.</p>
        </div>
        <br><br>
    </div>
    <!--Esta es la ventana emergente en donde se muestran los detalles de productos-->
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-content" id="popup">
            <h2 style="text-align: center;">Detalles del Rollizo</h2>
            <table>
                <tr>
                    <td class="detalle-pedido-t"><strong>Nombre:</strong></td>
                    <td class="detalle-pedido-t"><strong>Descripción:</strong></td>
                    <td class="detalle-pedido-t"><strong>Largo:</strong></td>
                    <td class="detalle-pedido-t"><strong>Diametro:</strong></td>
                    <td class="detalle-pedido-t"><strong>Creado por:</strong></td>
                    <td class="detalle-pedido-t"><strong>Fecha de creación:</strong></td>
                    <td class="detalle-pedido-t"><strong>Clase diamétrica:</strong></td>
                    <td class="detalle-pedido-t"><strong>Línea:</strong></td>
                </tr>
                <tr>
                    <td class="detalle-pedido"><span id="popupNombre"></span></td>
                    <td class="detalle-pedido"><span id="popupDescripcion"></span></td>
                    <td class="detalle-pedido"><span id="popupLargo"></span></td>
                    <td class="detalle-pedido"><span id="popupDiametro"></span></td>
                    <td class="detalle-pedido"><span id="popupUsuario"></span></td>
                    <td class="detalle-pedido"><span id="popupFecha_crea"></span></td>
                    <td class="detalle-pedido"><span id="popupClase"></span></td>
                    <td class="detalle-pedido"><span id="popupLinea"></span></td>
                </tr>
            </table>
            <button class="close-button" onclick="closePopup()">Cerrar</button>
        </div>
    </div>
    <script>
        var toggleFilterButton = document.querySelector('.filter-section .filter-button');
        var filterForm = document.querySelector('.filter-section .filter-form');
        var isFilterVisible = false; // Variable de estado para el filtro

        toggleFilterButton.addEventListener('click', function() {
            if (isFilterVisible) {
                filterForm.style.display = 'none';
                toggleFilterButton.innerText = 'Filtrar';
                isFilterVisible = false;
            } else {
                filterForm.style.display = 'block';
                toggleFilterButton.innerText = 'Ocultar filtro';
                isFilterVisible = true;
            }
        });
    </script>
    <script>
        const toggleButton = document.getElementById("toggle-carga-button");
        const cargaForm = document.querySelector(".form-container-productos form");

        let isFormVisible = false;

        toggleButton.addEventListener("click", function() {
            if (!isFormVisible) {
                const buttonRect = toggleButton.getBoundingClientRect();
                const buttonBottom = buttonRect.bottom;
                cargaForm.style.display = "block";
                isFormVisible = true;
            } else {
                cargaForm.style.display = "none";
                isFormVisible = false;
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const botonCancelar = document.getElementById('cancelar');
            const formulario = document.getElementById('carga-form');
            
            botonCancelar.addEventListener('click', function() {
                formulario.style.display = 'none';
            });
        });
    </script>

</body>
</html>

   