<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-productos-terminados.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    {% include "partials/resources.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Productos Terminados</title>

</head>
<body>
    {% include "partials/header.html" %}
    <div class="filter-section">
        <button class="filter-button">Filtrar</button>
        <form class="filter-form" style="display: none;">
            <div class="filter-field">
                <label for="filter-buzon">Código:</label>
                <input type="text" id="filter-buzon" class="filter-input">
            </div>
            <div class="advanced-filter-container">
                <label for="advanced-filter-checkbox" class="checkbox-label">Búsqueda avanzada</label>
                <input type="checkbox" id="advanced-filter-checkbox">
            </div>
            <div id="advanced-filter" style="display: none;">
                <div class="filter-field">
                    <label for="filter-madera">Nombre:</label>
                    <input type="text" id="filter-madera" class="filter-input">
                </div>
                <div class="filter-field">
                    <label for="filter-diametrica">Grosor:</label>
                    <input type="text" id="filter-diametrica" class="filter-input">
                </div>
                <div class="filter-field">
                    <label for="filter-longitud">Ancho:</label>
                    <input type="text" id="filter-longitud" class="filter-input">
                </div>
                <div class="filter-field">
                    <label for="filter-cantidad">Largo:</label>
                    <input type="text" id="filter-cantidad" class="filter-input">
                </div>
            </div>
            <div class="filter-button-container">
                <button type="button" id="filter-button" class="filter-button">Buscar</button>
                <button type="button" id="cancel-filter-button" class="filter-button">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="form-container-productos-terminados">
        <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
        <form method="post" action="{% url 'plan_productos_terminados' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Crear</button>
        </form>
    </div>

    <div class="table-container">
        <div class="table-responsive">
            <table id="productos-terminados-table" class="table w-100">
                <br>
                <h1 class="encabezado-pedidos">Productos Terminados</h1>
                <thead class="thead-pedidos">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Grosor</th>
                        <th>Ancho</th>
                        <th>Largo</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for productoterminado in productos_terminados %}
                    <tr>
                        <td>{{productoterminado.codigo}}</td>
                        <td>{{productoterminado.nombre}}</td>
                        <td>{{productoterminado.grosor}}</td>
                        <td>{{productoterminado.ancho}}</td>
                        <td>{{productoterminado.largo}}</td>
                        <td>{{productoterminado.cantidad_producida}}</td>
                        <td>
                            <button class="btn block" onclick="openPopup('{{ productoterminado.codigo }}', '{{ productoterminado.nombre }}', '{{ productoterminado.grosor }}', '{{ productoterminado.ancho }}', '{{ productoterminado.largo }}')">
                                <i class="fa-regular fa-clipboard fa-bounce fa-xl"></i>
                            </button>
                            <a href="eliminarproducto_terminado/{{productoterminado.id}}" class="fas fa-trash-alt fa-bounce fa-xl"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br>
    </div>
    
    <div class="popup-overlay" id="popupOverlay"></div>
    <div class="popup" id="popup">
        <h2>Detalles del producto</h2>
        <div class="popup-item">
            <strong>Código:</strong> <span id="popupCodigo"></span>
        </div>
        <div class="popup-item">
            <strong>Nombre:</strong> <span id="popupNombre"></span>
        </div>
        <div class="popup-item">
            <strong>Grosor:</strong> <span id="popupGrosor"></span>
        </div>
        <div class="popup-item">
            <strong>Ancho:</strong> <span id="popupAncho"></span>
        </div>
        <div class="popup-item">
            <strong>Largo:</strong> <span id="popupLargo"></span>
        </div>
        <button class="close-button" onclick="closePopup()">Cerrar</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#productos-terminados-table").DataTable({
                paging: true,
            });
        });

        // Funciones para filtrar
        var toggleFilterButton = document.querySelector('.filter-section .filter-button');
        var filterForm = document.querySelector('.filter-section .filter-form');
        var isFilterVisible = false; // Variable de estado para el filtro

        toggleFilterButton.addEventListener('click', function() {
            if (isFilterVisible) {
                filterForm.style.display = 'none';
                toggleFilterButton.innerText = 'Filtrar';
                isFilterVisible = false;
            } else {
                filterForm.style.display = 'block';
                toggleFilterButton.innerText = 'Ocultar filtro';
                isFilterVisible = true;
            }
        });

        document.querySelector('.filter-form').addEventListener('submit', function(event) {
            event.preventDefault();
            filtrar();
        });

        function filtrar() {
            const codigo = document.querySelector('#filter-buzon').value;
            const nombre = document.querySelector('#filter-madera').value;
            const grosor = document.querySelector('#filter-diametrica').value;
            const ancho = document.querySelector('#filter-longitud').value;
            const largo = document.querySelector('#filter-cantidad').value;

            const table = document.getElementById('productos-terminados-table');
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                const row = rows[i];
                const codigoColumn = row.cells[0].innerText;
                const nombreColumn = row.cells[1].innerText;
                const grosorColumn = row.cells[2].innerText;
                const anchoColumn = row.cells[3].innerText;
                const largoColumn = row.cells[4].innerText;

                if (
                    (codigo !== '' && codigoColumn !== codigo) ||
                    (nombre !== '' && nombreColumn !== nombre) ||
                    (grosor !== '' && grosorColumn !== grosor) ||
                    (ancho !== '' && anchoColumn !== ancho) ||
                    (largo !== '' && largoColumn !== largo)
                ) {
                    row.style.display = 'none';
                } else {
                    row.style.display = '';
                }
            }
        }

        // Funciones para acciones
        function openPopup(codigo, nombre, grosor, ancho, largo) {
            const popupOverlay = document.getElementById('popupOverlay');
            const popupCodigo = document.getElementById('popupCodigo');
            const popupNombre = document.getElementById('popupNombre');
            const popupGrosor = document.getElementById('popupGrosor');
            const popupAncho = document.getElementById('popupAncho');
            const popupLargo = document.getElementById('popupLargo');

            popupCodigo.textContent = codigo;
            popupNombre.textContent = nombre;
            popupGrosor.textContent = grosor;
            popupAncho.textContent = ancho;
            popupLargo.textContent = largo;

            popupOverlay.style.display = 'block';
        }

        function closePopup() {
            const popupOverlay = document.getElementById('popupOverlay');
            popupOverlay.style.display = 'none';
        }
    </script>
</body>
</html>
