<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-productos.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/filtro-productos.js' %}"></script>
    <title>SPP - Planificador Productos</title>
</head>
<body>
    {% include "partials/header.html" %}
    <div class="table-container">
        <div class="table-responsive">
            <h1 class="encabezado-pedidos">Productos</h1>
            <div class="show-filter">
                <button class="filter-button">Filtrar</button>
                <form class="filter-form">
                    <div class="filters-container">
                        <label for="filter-by">Filtrar por:</label>
                        <select id="filter-by" name="filter-by" class="filter-select">
                            <option value="nombre">Nombre del producto</option>
                            <option value="codigo">Código del producto</option>
                        </select>
                        <input type="text" name="filter-value" class="filter-input" placeholder="Valor del filtro">
                        <select name="filter-option" class="filter-select">
                            <option value="partial">Parcial</option>
                            <option value="exact">Exacto</option>
                        </select>
                        <br>
                        <label for="advanced-search">Búsqueda avanzada:</label>
                        <input type="checkbox" id="advanced-search" name="advanced-search">
                        <div id="advanced-search-options" style="display: none;">
                            <label for="filter-length">Largo:</label>
                            <input type="number" id="filter-length" name="filter-length" class="filter-input" placeholder="Valor mínimo">
                            <input type="number" id="filter-length-max" name="filter-length-max" class="filter-input" placeholder="Valor máximo">
                            <br>
                            <label for="filter-width">Ancho:</label>
                            <input type="number" id="filter-width" name="filter-width" class="filter-input" placeholder="Valor mínimo">
                            <input type="number" id="filter-width-max" name="filter-width-max" class="filter-input" placeholder="Valor máximo">
                            <br>
                            <label for="filter-thickness">Grosor:</label>
                            <input type="number" id="filter-thickness" name="filter-thickness" class="filter-input" placeholder="Valor mínimo">
                            <input type="number" id="filter-thickness-max" name="filter-thickness-max" class="filter-input" placeholder="Valor máximo">
                            <br>
                        </div>
                        <button type="submit" class="filter-button">Buscar</button>
                        <button type="button" class="clear-filter-button">Cancelar</button>
                    </div>
                </form>
            </div>
            <table class="table w-100">
                <thead class="thead-pedidos">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Grosor</th>
                        <th>Ancho</th>
                        <th>Largo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>p01</td>
                        <td>producto 1</td>
                        <td>10</td>
                        <td>5</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>p02</td>
                        <td>producto 12</td>
                        <td>15</td>
                        <td>8</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>p03</td>
                        <td>producto 3</td>
                        <td>7</td>
                        <td>3</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>p04</td>
                        <td>producto 4</td>
                        <td>20</td>
                        <td>12</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>p05</td>
                        <td>producto 5</td>
                        <td>18</td>
                        <td>7</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
            <p class="no-data-message">No hay datos para los filtros ingresados.</p>
        </div>
        <br><br>
    </div>
    
</body>
</html>