<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-stock.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - Productos</title>

</head>

<body>
    {% include "partials/header.html" %}
    <button type="button" id="toggle-carga-button" class="carga-button">Carga Manual</button>
    <!--Esta es la seccion de filtro-->
    <div class="filter-section">
        <button class="filter-button">Filtrar</button>
        <form class="filter-form" style="display: none;">
            <div class="filters-container">
                <label for="filter-by">Filtrar por:</label>
                <select id="filter-by" name="filter-by" class="filter-select">
                    <option value="nombre">Nombre del producto</option>
                    <option value="codigo">Código del producto</option>
                </select>
                <div>
                    <input type="text" name="filter-value" class="filter-input" placeholder="Valor del filtro">
                </div>
                <select name="filter-option" class="filter-select">
                    <option value="partial">Parcial</option>
                    <option value="exact">Exacto</option>
                </select>
                <br>
                <label for="advanced-search">Búsqueda avanzada:</label>
                <input type="checkbox" id="advanced-search" name="advanced-search">
                <div id="advanced-search-options" style="display: none;">
                    <label for="filter-length">Largo:</label>
                    <input type="number" id="filter-length" name="filter-length" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-length-max" name="filter-length-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                    <label for="filter-width">Ancho:</label>
                    <input type="number" id="filter-width" name="filter-width" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-width-max" name="filter-width-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                    <label for="filter-thickness">Grosor:</label>
                    <input type="number" id="filter-thickness" name="filter-thickness" class="filter-input"
                        placeholder="Valor mínimo">
                    <input type="number" id="filter-thickness-max" name="filter-thickness-max" class="filter-input"
                        placeholder="Valor máximo">
                    <br>
                </div>
                <button type="submit" class="filter-button">Buscar</button>
                <button type="button" class="clear-filter-button">Cancelar</button>
            </div>
        </form>
    </div>

    <!--Este es el contenedor del formulario productos-->
    <div class="form-container-productos">
        <form method="post" action="{% url 'stock' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                <h2 class="bold-heading">Actualizar Producción</h2>
                <tr>
                    <th class="detalle-pedido-t">Bodega</th>
                    <th class="detalle-pedido-t">Producto</th>
                   <th class="detalle-pedido-t">Cantidad <br> M3</th>
                   <th class="detalle-pedido-t">Creado por:</th>

                </tr>
                <tr>
                    <td>{{ formstockterminado.bodega }}</td>
                    <td>{{ formstockterminado.medidas}}</td>
                    <td>{{ formstockterminado.cantidad_m3}}</td>
                    <td>{{ formstockterminado.usuario_crea }}</td>
                </tr>
            </table>
                {{ formstockterminado.errors }}
                {{ formstockterminado.non_field_errors }}
                
            <div class="button-container">
                <button type="submit" name="crear" class="red-button-g">Crear</button>
                <button type="button" id="cancelar" class="red-button-c">Cerrar</button>
            </div>

        </form>

    </div>
    <!--Esta es la contenedor de la tabla productos-->
    <div class="table-container">
        <div class="table-responsive">
            <h1 class="encabezado-pedidos">Stock de productos</h1>

            <table class="table w-100">
                <thead class="thead-pedidos">
                    <tr>
                        <th>id</th>
                        <th>Producto key</th>
                        <th>Cantidad <br> M3</th>
                        <th>Fecha de Creación</th>
                        <th>Creado por</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}

                 
                        <tr>
                            <td>{{ stock.id }}</td>     
                            <td>{{ stock.producto_key }}</td>  
                            <td>{{ stock.cantidad_m3 }}</td>   
                            <td>{{ stock.fecha_crea }}</td>      
                            <td>{{ stock.usuario_crea }}</td>                       
                            <td>
                                <button class="btn block" onclick="openPopup('{{ stock.id }}','{{ stock.cantidad_m3 }}','{{ stock.fecha_crea }}','{{ stock.usuario_crea }}'
                                ,'{{ stock.producto_key }}','{{ stock.bodega }}')">
                                <i class="fa-regular fa-clipboard fa-xl"></i></button>
                            <!--<a href="eliminarstock/{{stock.id}}" class="fas fa-trash-alt fa-xl"></a>-->
                            <a href="editarstock/{{stock.id}}" class="fa-sharp fa-solid fa-pen-to-square fa-xl"></a>
                        </td>

                        </tr>
               


                    {% empty %}
                    </tr>
                    <td colspan="5" class="no-data-message">No hay datos para los filtros ingresados.</td>
                    <tr>
                        {% endfor %}
                </tbody>
            </table>
            <p class="no-data-message">No hay datos para los filtros ingresados.</p>
        </div>
        <br><br>
    </div>
    <!--Esta es la ventana emergente en donde se muestran los detalles de productos-->

    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-content" id="popup">
            <h2  style="text-align: center;">Detalles de la stock</h2>
            <table>
                <tr>
                    <td class="detalle-pedido-t"><strong>Id:</strong></td>
                    <td class="detalle-pedido-t"><strong>Cantidad <br>M3:</strong></td>
                    <td class="detalle-pedido-t"><strong>Fecha de Creación:</strong></td>
                    <td class="detalle-pedido-t"><strong>Creado por:</strong></td>
                    <td class="detalle-pedido-t"><strong>Producto:</strong></td>
                    <td class="detalle-pedido-t"><strong>Bodega:</strong></td>

                </tr>
                <tr>
                    <td class="detalle-pedido"><span id="popupId"></span></td>
                    <td class="detalle-pedido"><span id="popupCantidad"></span></td>
                    <td class="detalle-pedido"><span id="popupFecha"></span></td>
                    <td class="detalle-pedido"><span id="popupUser"></span></td>
                    <td class="detalle-pedido"><span id="popupBodega"></span></td>
                    <td class="detalle-pedido"><span id="popupProducto"></span></td>
                </tr>
            </table>
            <button class="close-button" onclick="closePopup()">Cerrar</button>
        </div>
    </div>

    <script>
        var toggleFilterButton = document.querySelector('.filter-section .filter-button');
        var filterForm = document.querySelector('.filter-section .filter-form');
        var isFilterVisible = false; // Variable de estado para el filtro

        toggleFilterButton.addEventListener('click', function () {
            if (isFilterVisible) {
                filterForm.style.display = 'none';
                toggleFilterButton.innerText = 'Filtrar';
                isFilterVisible = false;
            } else {
                filterForm.style.display = 'block';
                toggleFilterButton.innerText = 'Ocultar filtro';
                isFilterVisible = true;
            }
        });
    </script>
    <script>
        const toggleButton = document.getElementById("toggle-carga-button");
        const cargaForm = document.querySelector(".form-container-productos form");

        let isFormVisible = false;

        toggleButton.addEventListener("click", function () {
            if (!isFormVisible) {
                const buttonRect = toggleButton.getBoundingClientRect();
                const buttonBottom = buttonRect.bottom;
                cargaForm.style.display = "block";
                isFormVisible = true;
            } else {
                cargaForm.style.display = "none";
                isFormVisible = false;
            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const botonCancelar = document.getElementById('cancelar');
            const formulario = document.getElementById('carga-form');

            botonCancelar.addEventListener('click', function () {
                formulario.style.display = 'none';
            });
        });
    </script>

</body>

</html>