<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'img\logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles\styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles\notificacion.css' %}">
    {% include "partials/resources.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPP - Mantenedor</title>
</head>
<body>
    
    {% include "partials/header.html" %}
    <div class="table-container">
        <table class="table">
            <br>
            <h1 class="encabezado-pedidos">Planificador Bodega</h1>
            <thead class="thead-pedidos">
                <tr>
                    <th>ID Bodega</th>
                    <th>Nombre Bodega</th>
                    <th>Nombre Empresa</th>
                    <th>Descripción</th>
                </tr>
                {% for row in rows %}
                <tr>
                    <td>{{row.id_bodega}}</td>
                    <td>{{row.nombre_bodega}}</td>
                    <td>{{row.nombre_empresa}}</td>
                    <td>{{row.descripcion_bodega}}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        <br><br>
    </div>
</body>
</html>