<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% include "partials/resources.html" %}
    <link rel="icon" href="{% static 'img/logo_betech.png' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles-mantenedor.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/vista-patrones-corte.js' %}"></script>
    <script src="{% static 'js/filtro-patrones_corte.js' %}"></script>
    <script src="https://kit.fontawesome.com/c3469abfa1.js" crossorigin="anonymous"></script>
    <title>SPP - Patrones de Corte</title>
</head>

<body>
    {% include "partials/header.html" %}
    <button type="button" id="toggle-carga-button" onclick="toggleFormVisibility()" class="carga-button">Carga
        Manual</button>
    <!--Filtro desplegable desde el botón-->
    <div class="filter-section">
        <button type="button" id="toggle-filter-button" class="filter-button">Filtrar</button>
        <form id="filter-form" class="filter-form" style="display: none;">
            <div class="filter-field">
                <label for="filter-buzon">Código patrón</label>
                <input type="text" name="filter-value" id="filter-buzon" class="filter-input">
            </div>
            <label for="advanced-search">Búsqueda avanzada:</label>
            <input type="checkbox" id="advanced-search" name="advanced-search">
            <div id="advanced-search-options" style="display: none;">
                <div class="filter-field">
                    <label for="filter-madera">Nombre:</label>
                </div>
                <div class="filter-field">
                    <label for="filter-diametrica">Producto asociado:</label>
                    <input type="text" id="filter-diametrica" name="filter-diametrica" class="filter-input">
                </div>
                <div class="filter-field">
                    <label for="filter-longitud">Clase diamétrica:</label>
                    <input type="text" id="filter-longitud" name="filter-longitud" class="filter-input">
                </div>
            </div>

            <div class="filter-button-container">
                <button type="submit" id="filter-button" class="filter-button">Buscar</button>
                <button type="button" id="cancel-filter-button" class="cancel-filter-button">Cancelar</button>
            </div>
        </form>
    </div>

    <!--Carga Manual de Patrones de Corte-->

    <div class="form-container-productos">
        <form method="post" action="{% url 'plan_patrones_corte' %}" style="display: none;" id="carga-form">
            {% csrf_token %}
            <table class="form-table">
                <tr>

                        <td>{{ form.codigo.label_tag }}</td>
                        <td>{{ form.nombre.label_tag }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.codigo }}</td>
                        <td>{{ form.nombre }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.descripcion.label_tag}}</td>
                        <td>{{ form.rollizo.label_tag}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.descripcion}}</td>
                        <td>{{ form.rollizo}}</td>
                    </tr> 
                    <tr>
                        <td>{{ form.rendimiento.label_tag}}</td>
                        <td>{{ form.velocidad_linea.label_tag}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.rendimiento}}</td>
                        <td>{{ form.velocidad_linea}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.setup_time.label_tag}}</td>
                        <td>{{ form.lead_time.label_tag}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.setup_time}}</td>
                        <td>{{ form.lead_time}}</td>
                    </tr>
                    <tr>
                        <td>{{ form.producto_asociado.label_tag}}</td>
                        <td>{{ form.utilizado.label_tag}}</td>   
                    </tr>
                    <tr>
                        <td>{{ form.producto_asociado}}</td>
                        <td class="form-check text-left">{{ form.utilizado}}</td>
                        
                    </tr>
                </table>
                <div class="button-container">
                    <button type="submit" name="crear" class="red-button-g">Crear</button>
                    <button type="button" id="cancelar" class="red-button-c">Cerrar</button>
                </div>
        </form>

    </div>
    <!--Este es el contenedor de la tabla que muestra los patrones de corte ingresados-->
    <div class="table-container">
        <div class="table-responsive">
            <table id="patrones-table" class="table w-100">
                <h1 class="encabezado-pedidos">Patrones de corte</h1>
                <br />
                <thead class="thead-pedidos">
                    <tr>
                        <th>Código de Patrón</th>
                        <th>Producto asociado</th>
                        <th>Clase Diamétrica</th>
                        <th>Rendimiento</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patron in patrones_corte %}

                        {% if not patron.eliminado %}
                        <tr>
                            <td>{{ patron.codigo }}</td>
                            <td>{{ patron.producto_asociado }}</td>
                            <td>{{ patron.rollizo }}</td> 
                            <td>{{ patron.rendimiento}}</td>
                            <td>  
                                <!--Botón para desplegar los desatalles de cada una de las filas de patron de corte-->
                                <button class="btn block" onclick="openPopup('{{ patron.codigo }}', '{{ patron.nombre}}', 

                                '{{ patron.producto_asociado }}','{{patron.rollizo}}','{{patron.descripcion}}','{{patron.rendimiento}}', 
                                '{{patron.velocidad_linea}}','{{patron.setup_time}}','{{patron.lead_time}}','{{patron.utilizado}}')">
                                <i class="fa-regular fa-clipboard fa-xl"></i>
                            </button>

                            <a href="eliminarpatron/{{patron.id}}" class="fas fa-trash-alt fa-xl"></a>
                            <a href="editarpatroncorte/{{patron.id}}"
                                class="fa-sharp fa-solid fa-pen-to-square fa-xl"></a>

                            </td>
                        </tr>
                    {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="5" class="no-data-message">No hay datos para los filtros ingresados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="no-data-message">No se encontraron datos.</p>
        </div>
    </div>
    <!--Este es el contenedor del popup que muestra los detalles de patron de corte seleccionado-->
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-content" id="popup">
            <h2  style="text-align: center;">Detalles del Patron de Corte</h2>
            <table>
                <tr>
                    <td class="detalle-pedido-t"><strong>Código Patrón:</strong></td>

                    <td class="detalle-pedido-t"><strong>Nombre Patrón:</strong></td>

                    <td class="detalle-pedido-t"><strong>Producto Asociado:</strong></td>

                    <td class="detalle-pedido-t"><strong>Clase Diamétrica (Rollizo):</strong></td>

                    <td class="detalle-pedido-t"><strong>Descripción:</strong></td>

                    <td class="detalle-pedido-t"><strong>Corte Rendimiento:</strong></td>

                    <td class="detalle-pedido-t"><strong>Velocidad Línea:</strong></td>

                    <td class="detalle-pedido-t"><strong>Setup Time:</strong></td>

                    <td class="detalle-pedido-t"><strong>Lead Time:</strong></td>

                    <td class="detalle-pedido-t"><strong>Utilizado:</strong></td>

                </tr>
                <tr>
                    <td class="detalle-pedido"><span id="popupCodigo"></span></td>
                    <td class="detalle-pedido"><span id="popupNombre"></span></td>
                    <td class="detalle-pedido"><span id="popupProductoAsociado"></span></td>
                    <td class="detalle-pedido"><span id="popupRollizo"></span></td>
                    <td class="detalle-pedido"><span id="popupPCorteDescripcion"></span></td>
                    <td class="detalle-pedido"><span id="popupPCorteRendimiento"></span></td>
                    <td class="detalle-pedido"><span id="popupPCorteVelocidadLinea"></span></td>
                    <td class="detalle-pedido"><span id="popupPCorteSetupTime"></span></td>
                    <td class="detalle-pedido"><span id="popupPCorteLeadTime"></span></td>
                    <td class="detalle-pedido"><span id="popupPCorteUtilizado"></span></td>
                </tr>
            </table>
            <button class="close-button" onclick="closePopup()">Cerrar</button>
        </div>
    </div>
    {% comment %}
    <script>
        var toggleFilterButton = document.querySelector('.filter-section .filter-button');
        var filterForm = document.querySelector('.filter-section .filter-form');
        var isFilterVisible = false; // Variable de estado para el filtro

        toggleFilterButton.addEventListener('click', function () {
            if (isFilterVisible) {
                filterForm.style.display = 'none';
                toggleFilterButton.innerText = 'Filtrar';
                isFilterVisible = false;
            } else {
                filterForm.style.display = 'block';
                toggleFilterButton.innerText = 'Ocultar filtro';
                isFilterVisible = true;
            }
        });
        const toggleButton = document.getElementById("toggle-carga-button");
        const cargaForm = document.querySelector(".form-container-productos form");

        let isFormVisible = false;

        toggleButton.addEventListener("click", function () {
            if (!isFormVisible) {
                const buttonRect = toggleButton.getBoundingClientRect();
                const buttonBottom = buttonRect.bottom;
                cargaForm.style.display = "block";
                isFormVisible = true;
            } else {
                cargaForm.style.display = "none";
                isFormVisible = false;
            }
        });
    </script> {% endcomment %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const botonCancelar = document.getElementById('cancelar');
            const formulario = document.getElementById('carga-form');

            botonCancelar.addEventListener('click', function () {
                formulario.style.display = 'none';
            });
        });
    </script>


</body>

</html>